/**
 * Replace some of the things stripped form reset.css.
 */
b, .bold { font-weight: bold; }
i, .italic { font-style: italic; }
u, .underline { text-decoration: underline; }
body {
    font-family: "Sans", "Arial", "Calibri"
}

:root {
    --black: #000200;
    --spanish-orange: #E36C04;
    --middle-yellow-red: #F08677;
    --rich-black: #00020C;
    --topaz: #F4CB89;
    --liberty: #5B539E;
    --sky-blue: #53a9e4;
}

/**
 * Global content styling.
 */
page {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #00000000;
}

page:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    padding: 20px 0 0 0;
    display: block;
    background-color: #00000010;
    background-image: url('../images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.3;
}
#content {
    display: block;
    margin: 0 auto 0 auto;
    width: 100%;
    position: relative;
}

/**
 * Header/Navigation
 */
.navbar a {
    font-size: 100%;
}
.navbar-dark {
    background-color: var(--topaz);
}
.nav-active {
    background-color: var(--spanish-orange);
}
/* .md-button.md-accent {
    background-color: var(--spanish-orange);
} */
._md-nav-button-text {
    color: var(--rich-black);
}
header {
    margin: 10px auto;
}

detail {
    display: block;
    width: 800px;
}
detail p {
    font-size: 140%;
    line-height: 120%;
}
detail ul {
    list-style-type: square;
    margin: 10px;
}
detail ul li {
    margin-left: 20px;
    font-size: 120%;
}

.title {
    font-size: 140%;
    font-weight: bold;
    padding-top: 5px;
    margin: 2px;
}

.item-list {
    margin: 2px;
    padding: 2px;
    min-width: 350px;
}
.item-list-wrapper {
    width: auto;
    display: inline-block;
    max-width: 1024px;
    vertical-align: top;
}
.item-list-wrapper md-grid-tile-header {
    background-color: var(--liberty);
    color: var(--topaz);
}
.item-list tr td:first-child {
    max-width: 150px;
}

.editable {
    width: 99% !important;
    border: 3px solid #291042;
}

.controller {
    min-height: 200px;
    width: 100%;
}
.controller h1, .controller h2, .controller h3 {
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;
    display: inline-block;
    width: fit-content;
}
.controller h1 {
    font-size: 180%;
    margin: 20px 5px 5px 5px;
}
.controller h2 {
    font-size: 150%;
    margin: 10px 5px 5px 5px;
}
.controller h3 {
    font-size: 130%;
    margin: 5px 1px 1px 5px;
}
.controller p {
    font-size: 24px;
    padding: 5px;
}
.right {
    margin: 0 0 0 auto;
}

table.data {
    border: 1px solid black;
    box-shadow: 8px 8px #1c052c3c;
    margin: 5px 10px 5px 10px;
    max-height: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: auto;
    display: inline-block;
}
table.data th {
    font-weight: bold;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid black;
    cursor: pointer;
    margin: 5px auto;
    background-color: var(--topaz);
    color: var(--rich-black);
    /* min-width: 100px; */
}
/* table.data tbody {
    display: block;
    width: 100%;
    overflow: auto;
    max-height: 500px;
} */
table.data thead {
    /* display: block; */
    position: sticky;
    top: 0px;
}
table.data td {
    padding: 2px 5px 2px 5px;
    overflow: auto;
    /* min-width: 100px; */
}
table.data tr:nth-child(odd) {
    background-color: #f1f1f1EF;
}
table.data tr:nth-child(even) {
    background-color: #dbd7f0EF;
}
table.data th:first-child {
    min-width: 120px;
}


.new-item-wrapper {
    display: block;
    width: 600px;
    height: auto;
    background: #EEEEEE;
    margin: 5px;
    padding: 10px;
    box-shadow: 8px 8px #1c052c3c;
    border: 2px solid black;

    position: fixed;
    top: 3%;
    left: 25%;
}
.new-item-wrapper input {
    height: 18px;
    font-size: 14px;
}
.new-item-wrapper select {
    height: 28px;
    font-size: 24px;
    margin: 2px;
    padding: 2px;
}
.new-item-wrapper input[type=text], .new-item-wrapper input[type=number], .new-item-wrapper select {
    min-width: 300px;
}
.new-item-wrapper input[type=submit] {
    font-size: 120%;
    margin: 2px;
    padding: 3px;
    height: auto;
    box-shadow: 2px 2px #00000050;
}
.new-item-wrapper form {
    margin: 3px;
    padding: 3px;
}
.new-item-wrapper form ul li {
    border: 1p solid #aaa;
}
.new-item-wrapper form ul li trash {
    float: left;
}
.title a {
    display: inline-block;
    margin: 2px auto 2px 2px;
    width: 65%;
}
.account-balance {
    display: inline-block;
    margin: 10px 2px 2px auto;
    padding: 2px;
    width: 30%;
    font-style: italic;
    font-size: 20px;
}
yaba-transaction-list {
    display: inline-block;
    margin: 10px auto;
    padding: 2px;
    width: fit-content;
}
.csvdrop.dragging {
  border: 3px solid #11F;
}

form span.label, form label {
    text-align: right;
    width: 100%;
    margin: 5px 5px 5px auto;
    padding: 5px;
    display: block;
}

form span.label input[type=text] {
    width: 300px;
    margin: 0 0 0 0;
}

footer { margin: 5px; }

button {
    display: block;
    margin: 0 0 0 auto;
    height: 40px;
    width: 175px;
    font-size: 120%;
    font-weight: bold;
}
/* Custom Icons */
add {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAGFBMVEVhcABT3kdk3mFt3mlu32p44nWA4338//u9xAiZAAAAAXRSTlMAQObYZgAAAM1JREFUSMe91s0NgzAMBWB7A78TZ0boCB2hI3SEnLI+KkjNjx07ohRf88UKEfhBVBf2olHhW9G6KRhNibvf6gH4gjWQYL0VMMtqsOScjBb1es5v1aI0+KwbLTqQFcAIQD1jD2QOYAzQ36ICcgmABzAB2AdyByjvQV+v45TVzr4KWE6CNQLP/4PHz4eMLipVYPBl7YB9IHcA8gFNAPaAXALIA+YASdGEUYDG4OScNGZxO4qNac72tJf5OIgDJYykONTiWIyDNYzmiXC3fw82l6MakgvgjQcAAAAASUVORK5CYII=');
}
close, .ng-close {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAFVBMVEVvcm3/AAD/9vb/+vr//Pz//v7///+vlWMoAAAAAXRSTlMAQObYZgAAAOZJREFUSMfllUEWwiAMRNsbMOgFqj72bnoPNx6g+rj/ESxtqbQhjFVXyiKbfCYhhFBV/7hqwBTcmBbzawRQJoAyUS8BQwSkxNovJASAYgZSAihL1DnAbAEAEoMBMYJrgrWdiDEB1g8u55s1EAV8cFnvLzrQRbtMAjFELzEYBRg2JwISCLsTAcg6uuDvRC2fgF0IZAC0qYCicC8BpxDirAO2zSc5H3PXB8gd8+VC0VLTy9rH6260hrmODXPTABzHljvItv64q7/wsujj5c+fDhApYbYOMT4G6SDlo5gP8zkP8/6H8rvrAYleX2kwKGFPAAAAAElFTkSuQmCC');
    position: absolute;
    top: 10px;
    right: 10px;
}
trash {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAJ1JREFUOMu909ENxCAIAFD8YAT2cQQ+YP9VDmyJEK+NaS9H/HohiAYARpCqQIqmFj0BOnACcpBbsHQsYAXbNowWZvQVsAKvGVBhVJ23jQc+BGvHzgmg3jWy938kq7/cgfehB7SAKPpbUAcNoAnyGDgAXwAcANuAE/gaOp5XfQcJoH+CfRw5yBj5C0CfMU6QtqTMpe5DXo4tgLI+C3wAPtZ/2wH5BkcAAAAASUVORK5CYII=');
    filter: invert(100%);
    /* Filter impacts the border too somehow... */
    border: 1px solid black;
}
edit {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAN5JREFUOMvNk7sBBCEIBTGwg6OfTS4ngP5bOeEh4lZwJurIDn5Yoj9s9tzzabpXzLxjdL6CkRHjG0bkUJoAO1BpBBgCwJbDjCPj5wJDpwBwKmQoHAlWSkPwh3YuRr7axdphA1MAC/iupzRgCTeI6DyDvhQATQHQFAG6IkBXBOgK0pfCwaVwcCkcXAoHl2KBUuzj+8UEPOCBosCahWIDXvFGHZBhFwfwV24wUU0HjP4iut5u9hf5eHH1F+FddERSAPOspVnHzNG5iKqlKu1XXysrK5rQKe1oZc8Q/adf9Qd5Bzj5jcKSOAAAAABJRU5ErkJggg==');
    filter: invert(100%);
    /* Filter impacts the border too somehow... */
    border: 1px solid black;
}
save {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAIBJREFUOMvl0zEOgCAMhWE69Ajch8Xdgd7/KgKt9NnEhIXExC6ab/gTsKa0ZVjuKQp5whmhRhCDwuNdDosMqP1pEYdcA7AEII04JI0AaARAIwAaAdAIwogg8Dv0wzUgB72wZaB5Xwb+Bb4ONBfkebi2IOtgu8R/AIFZA0Y49/zoF6YJcMkbWlfuAAAAAElFTkSuQmCC');
}
question {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAD1BMVEUAAABMTEzh4eHi4uLj4+N3SbafAAAAAXRSTlMAQObYZgAAAQ9JREFUSMeV1esVgyAMBWDYINAJwAmU/XdrtRDIC5BfHvP1hlJrnBuWD89yxqplkwx1VZC6IlhdiF7Puqg341FKudJzDUpALP+VRASt1wwQAUdBwSJ6wJVzRgByB1eDdBcBO6R2QSI8gotGtYgG8PYdMYKAnzt5M2Ag1csPAX4CwhYI4m7fw9OjgZjxl8ZvcQPxpIwncvdQQD8oA/QtbIF5h98u5wEayGOAAvrjYoCDBOggzUCkARKwABWEKWAdBIgb4HwL/By4tyDIV9USuGkddoBfdFgD0uP390qsAwP0HEC8phlwe8CZAOQooIC/6zkAe5qIiWEe8zRCmzhWgBrxcuqt5+Z68q5n93r66+sLE3R/bdcNfTUAAAAASUVORK5CYII=');
}
inspect {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAQMAAACQp+OdAAAABlBMVEWFY1UAAADJW86pAAAAAXRSTlMAQObYZgAAAJJJREFUKM/FkLsRxCAMROW5QOGV4FIozS7NpagEQgLGeyuYWQLnPgXwBrSrj9mfovR5f4BrwA60AQdw572BcRI8IQhfhKOmGOeGPnLNRnYeBSnq45u+LT0vqqsHlVTXvfHga5Tu/C8TOm3iuJ0eAkzAgmeO5DJUCRVVG2rMErLv1bzG0YAaWUvQWtaitDot8/34AewUoP8HNfvLAAAAAElFTkSuQmCC');
    filter: invert(100%);
}
.helper:hover:after {
    opacity: 1;
    transition: all 300ms ease-in-out 500ms;
    visibility: visible;
}
.helper:after {
    content: attr(helper);
    display: block;
    min-width: 200px;
    max-width: 450px;
    background-color: #f7dc5f;
    color: #111;
    font-size: 120%;
    padding: 1px 5px 2px 10px;
    margin: 1px 1px 1px 5px;
    box-shadow: 1px 1px 3px #362112;
    opacity: 0;
    border: 1px solid #4e3201;
    z-index: 9999999;
    transition: all 500ms ease-in-out 500ms;
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: 30px;
}

add, edit, save, trash, close, question, inspect {
    background-size: 32px;
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 8px;
    display: inline-block;
    cursor: pointer;
}
add:hover, edit:hover, save:hover, trash:hover, close:hover, question:hover, inspect:hover { cursor: grab; }

.small-icon {
    width: 24px;
    height: 24px;
    background-size: 24px;
}

actions {
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
    display: inline-block;
}

institution-list {
    display: inline-flex;
    flex-wrap: wrap;
}
institution {
    display: inline-block;
    margin:  5px auto 5px 5px;
    padding:  0 0 10px 0;
    background-color: var(--sky-blue);
}

figcaption {
    width: 100%;
    display: flex;
    background-color: var(--liberty);
    color: var(--topaz);
}


code {
    width: 90%;
    padding: 3px;
    margin: 5px 10px;
    border: 1px solid gray;
    background-color: #bec7deaa;
    color: #212215;
    font-family: Monospace, Sans-serif, "Courier New";
    font-size: 14px;
}
pre {
    display: block;
    margin: 2px;
    padding: 2px;
    font-family: Monospace, Sans-serif, "Courier New";
    font-size: 14px;
    word-wrap: break-word;
    background-color: white;
}
.warning { 
    background-color: red;
    color: yellow;
    font-size: 20px;
}


mapping {
    border: 1px solid #999;
    display: block;
    padding: 5px;
    margin: 5px 5px 5px 20px;
    line-height: 20px;
    height: 135px;
}

.ng-fade { transition: all ease-in-out 400ms; }
.ng-fade.ng-hide { opacity: 0; }
.ng-fade.ng-show { opacity: 1; }

.slide-down { transition: all 400ms ease-in-out; }
.slide-down.ng-hide { opacity: 0; height: 0; opacity: 0; }
.slide-dwon.ng-show { opacity: 1; height: 135px; opacity: 1; }


nav {
    display: block;
    text-align: right;
}
.pagination {
    display: inline-block;
    cursor: pointer;
}
.pagination li {
    display: inline-block;
    font-weight: bold;
}
.pagination li.page-item {
    border: 1px solid #0f3079;
    border-radius: 5px;
    display: inline-block;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    width: 34px;
    height: 28px;
    margin: 2px;
    padding: 5px 1px 1px 1px;
}
.pagination .active {
    background-color: #789d12;
    color: #195281;
    font-size: 22px;
}
.pagination .disabled {
    color: #630909;
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
}

.txn-edit-field {
    width: 100%;
    height: 28px;
    background-color: #c4c4c4;
}
google-chart {
    display: block;
    min-width: 800px;
    min-height: 600px;
    border: 1px solid black;
}
.chart {
    display: block;
    width: 1024px;
    height: 768px;
    border: 1px solid black;
}
data-table {
    font-size: 25px;
}
yaba-daterange {
    margin: 10px auto;
    max-width: 500px;
    display: inline-block;
    overflow: hidden;
}
filters {
    display: block;
    width: 100%;
    border: 1px solid #00000050;
}

date-range {
    margin: 10px auto;
    display: flex;
    position: relative;
    padding: 5px;
}
date-range input {
    margin: 10px 15px;
}
date-range from-date, date-range to-date {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 5px;
}
date-range from-date:before {
    content: "From Date: ";
    position: absolute;
    font-size: 16px;
    top: 0px;
    left: 0px;
}
date-range to-date:before {
    content: "To Date: ";
    position: absolute;
    font-size: 16px;
    top: 0px;
    left: 0px;
}


debug {
    display: block;
    max-width: 800px;
    max-height: 300px;
    overflow: auto;
    border: 2px solid blue;
}
debug span {
    display: inline-block;
    font-family: "Liberation Mono", "DejaVu Sans Mono", monospace;
    font-size: 16px;
    word-wrap: break-word;
}

#develop ul {
    list-style-type: square;
    margin-right: 10px;
    font-size: 110%;
    padding: 10px 10px 10px 20px;
}
#develop ul li {
    margin-right: 20px;
}

#develop ul ul {
    display: inline-block;
    max-width: 400px;
}
.csv-content {
    max-height: 500px;
    overflow-y: auto;
}

yaba-controls {
    display: block;
    width: 100%;
}
controls {
    display: flex;
    border: 1px solid #191988C0;
    border-radius: 10px;
    vertical-align: top;
    margin: 30px auto 15px auto;
    position: relative;
}
controls:before {
    content: "Filters: ";
    color: #0e1871;
    font-family: sans-serif, monospace;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    top: -25px;
    left: 25px;
}
controls accounts {
    display: inline-block;
    width: fit-content;
    margin: 10px auto;
    padding: 5px;
}
controls description {
    display: inline-block;
    width: 220px;
    height: 40px;
    margin: 10px auto;
    padding: 5px;
}
controls budgets {
    margin: 10px auto;
    display: inline-block;
    min-width: 150px;
    min-height: 120px;
    vertical-align: top;
}
controls accounts select, controls budgets select {
    min-width: 100px;
    width:99%;
    min-height: 100px;
}

yaba-budget {
    display: block;
    margin: 10px auto 10px 10px;
    position: relative;
}
budget-panel {
    display: block;
    margin: 25px 10px 10px 10px;
    position: relative;
}
budget-panel:before {
    content: "Budgets";
    text-decoration: underline;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    top: -26px;
    left: 0px;
}

wishlist-item {
    display: flex;
    font-size: 20px;
    padding: 10px;
    margin: 10px auto;
}

#prospect div {
    display: flex;
}

.additional-fields {
    min-width: 400px;
}

.negative {
    color: #b21717;
}

/* My Angular Customizations/Overrides */
md-chips.setting-chip {
    display: inline-block;
    width: 98%;
    min-width: 400px;
}

md-content {
    background-color: #00000000;
}

