/** Budget Panel **/
budget-panel {
    display: block;
    margin: 25px 10px 10px 10px;
    position: relative;
}
budget-panel:before {
    content: "Budgets";
    text-decoration: underline;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    top: -26px;
    left: 0px;
}


tag-txns { /* Replace with: <mat-icon fontIcon="new_label"> */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAQMAAACQp+OdAAAABlBMVEVsKVYAAAD45mvlAAAAAXRSTlMAQObYZgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAABfSURBVCjPY2CgFuD/DwQfgAx7EOMPkFEPYvwDMgpA8nxA/ADEYB9loDPkYAz5AzDGHyhD4n8DlCH/A8pg/A9lMNh/ADMsGJj/QRkM9cdBAV4BjI9/yFEAjxR4NFEHAABmA0/Po9ZJOwAAAABJRU5ErkJggg==');
}

untag-txns { /* Replace with: <mat-icon fontIcon="label_off"> */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAApVBMVEUAAAAAAAAmAAA4AAA7AABFAACOAACTAAC7AAC+AADbAACsFQb4AAD6AAD9AAD/AAD/AQH/DAz/HBz/HR3/RET/RUX/Rkb/R0f/SEj/SUn/TU3/bm7/b2//cHD/goL/k5P/lJT/mZn/mpr/nJz/x8f/yMj/ysr/zs7/0ND/0tL/09P/1dX/7+//8PD/8fH/8vL/8/P/9/f/+Pj/+/v//Pz//v7///8pYqm9AAAAAXRSTlMAQObYZgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAFuSURBVFjD7dZtV4IwFAdwBkkBwiYPlaUlCmUPqKnc7//R4iT4QNvaZS/j/4Zz7tl+Z8PLnGH06dMK4Wbg+n5AaeD77uBQwUw3bWdIjxk6tikkuPMtN6AXCVxLJHCrlBPBUOX5IoFXo4KoAlQYUxewlYBmdDSdRufPKg4GiNLVKo0Oz9mo7gdLAWgW8FgAbOZhON8AvCd1N1wjgNt8B7BeLNYAuyxpWtJSB1ic7wG2W4B9HrO66F+pA5SNs0qo5mdjduxoGwFQ9vBRApSvd+xUu8EAYVrtH8rlfUeAPRXws4W82xZY/FJt4Kv7S0wyzZ8xeSubRiqXmEZqhNGsqFu5+HzGtPLvj2kywX1M2p+z/oGifaTpH6qiYx0BGNz5GKBNiAeL/zNPhnSwDFAa3AMXNfInpgDIDTVAfp2SA57nSQ0V4NwgHQFPuBAEwF+IHCAtgLMQPNAypBdFIgAuNkOUb9qiGJoC6rqvPL3PP843210/j5SLxZMAAAAASUVORK5CYII=')
}


/* My Angular Customizations/Overrides */
/* Removes invisible space in md-chips box where tags are listed */

/* .mdc-evolution-chip-set__chips { display: inline-block !important; }
.mat-mdc-chip-input { margin-left: 0 !important; } */
