

/* h1 {
    font-size: 200%;
    font-weight: bold;
    text-decoration: underline;
    width: fit-content;
    display: inline-block;
    margin: 10px auto 10px 5px;
}

h2 {
    font-size: 150%;
    font-weight: bold;
    width: fit-content;
    display: inline-block;
    margin: 8px auto 6px 5px;
}

h3 {
    font-size: 120%;
    font-weight: bold;
    width: fit-content;
    display: inline-block;
    margin: 5px auto 5px 5px;
}

h4 {
    font-size: 100%;
    font-weight: bold;
    width: fit-content;
    display: inline-block;
    margin: 5px auto 5px 5px;
} */

/* form span.label, form label {
    text-align: right;
    width: 100%;
    margin: 5px 5px 5px auto;
    display: block;
}

form span.label input[type=text] {
    width: 300px;
    margin: 0 0 0 0;
}

button, input[type="submit"], input[type="button"], input[type="file"] {
    border-radius: 0.3rem;
    padding: 0.3rem 0.8rem;
    box-shadow: var(--light-shadow) 5px 5px;
    display: inline-flex;
    line-height: 1.2rem;
    font-size: 1.2rem;
    margin: 5px;
}

input[type="text"], input[type=number], input[type="file"], select {
    font-size: 1.2rem;
    border: 2px solid #000000AA;
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    box-shadow: var(--light-shadow) 5px 5px;
    display: inline-block;
    line-height: 1.2rem;
    width: 85%;
}

input[type="text"]:focus, input[type=number]:focus, input[type="file"]:focus, select:focus {
    border: 2px solid #091222;
    box-shadow: var(--light-shadow) 7px 7px;
} */

footer { margin: 5px; }

button {
    display: block;
    margin: 0 0 0 auto;
    height: 40px;
    width: 175px;
    font-size: 120%;
    font-weight: bold;
}

app-root {
    display: block;
    margin: 5px auto;
    width: 98%;
}

.small-icon {
    width: 20px;
    height: 20px;
    background-size: 20px;
}

code {
    width: 90%;
    padding: 3px;
    margin: 5px 10px;
    border: 1px solid gray;
    background-color: #bec7deaa;
    color: #212215;
    font-family: Monospace, Sans-serif, "Courier New";
    font-size: 14px;
}
pre {
    display: block;
    margin: 2px;
    padding: 2px;
    font-family: Monospace, Sans-serif, "Courier New";
    font-size: 14px;
    word-wrap: break-word;
    background-color: white;
}

/**!!!** Yaba Top-Level Pages **!!!**/

/** General Controls & Icons **/
actions {
    width: fit-content;
    display: inline-block;
    margin: 10px 10px 5px auto;
}

.controller {
    border: 5px solid var(--border);
    border-radius: 1.2rem;
    box-shadow: var(--shadow) 15px 15px;
    background-color: var(--background);
    width: 95%;
    padding: 1rem;
    margin: 10px auto;
}


/** Transaction Tables **/



.date-range-wrapper {
    min-width: 250px;
    display: flex;
    flex-flow: row;
}
.date-input-wrapper {
    display: flex;
    position: relative;
}

.date-input {
    font-size: 1.2rem;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 1.2rem;
}
.from-date:before {
    content: "From Date: ";
    position: absolute;
    font-size: 16px;
    top: 0px;
    left: 0px;
}
.to-date:before {
    content: "To Date: ";
    position: absolute;
    font-size: 16px;
    top: 0px;
    left: 0px;
}

.description-filter-wrapper {
    font-size: 110%;
    input[type=text] {
        width: 95%;
        margin: 5px
    }
}

.actively-editing {
    background-color: var(--txn-edit) !important;
    border: 1px solid var(--active-border);
    border-radius: 0.3rem;
    height: 50px;
    transition: all 400ms ease-in-out;

    input, .ng-select-container {
        height: 20px !important;
        box-shadow: none;
        font-size: 16px;
        margin: auto;
        vertical-align: middle;
    }
}

.txn-edit-field {
    width: 100%;
    height: 28px;
    background-color: #c4c4c4;
}

.actions-cell {
    text-align: right;
    accent-color: var(--checked);
}

.actions-cell input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin: 5px;
}

.description-field {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.account-list .description-field { max-width: 180px; }



.yaba-item {
    display: block;
    margin: 5px;
    border: 2px solid var(--border);
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.3rem var(--shadow);
}

/** Budget Panel **/
budget-panel {
    display: block;
    margin: 25px 10px 10px 10px;
    position: relative;
}
budget-panel:before {
    content: "Budgets";
    text-decoration: underline;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    top: -26px;
    left: 0px;
}


tag-txns {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAQMAAACQp+OdAAAABlBMVEVsKVYAAAD45mvlAAAAAXRSTlMAQObYZgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAABfSURBVCjPY2CgFuD/DwQfgAx7EOMPkFEPYvwDMgpA8nxA/ADEYB9loDPkYAz5AzDGHyhD4n8DlCH/A8pg/A9lMNh/ADMsGJj/QRkM9cdBAV4BjI9/yFEAjxR4NFEHAABmA0/Po9ZJOwAAAABJRU5ErkJggg==');
}

untag-txns {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAApVBMVEUAAAAAAAAmAAA4AAA7AABFAACOAACTAAC7AAC+AADbAACsFQb4AAD6AAD9AAD/AAD/AQH/DAz/HBz/HR3/RET/RUX/Rkb/R0f/SEj/SUn/TU3/bm7/b2//cHD/goL/k5P/lJT/mZn/mpr/nJz/x8f/yMj/ysr/zs7/0ND/0tL/09P/1dX/7+//8PD/8fH/8vL/8/P/9/f/+Pj/+/v//Pz//v7///8pYqm9AAAAAXRSTlMAQObYZgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAFuSURBVFjD7dZtV4IwFAdwBkkBwiYPlaUlCmUPqKnc7//R4iT4QNvaZS/j/4Zz7tl+Z8PLnGH06dMK4Wbg+n5AaeD77uBQwUw3bWdIjxk6tikkuPMtN6AXCVxLJHCrlBPBUOX5IoFXo4KoAlQYUxewlYBmdDSdRufPKg4GiNLVKo0Oz9mo7gdLAWgW8FgAbOZhON8AvCd1N1wjgNt8B7BeLNYAuyxpWtJSB1ic7wG2W4B9HrO66F+pA5SNs0qo5mdjduxoGwFQ9vBRApSvd+xUu8EAYVrtH8rlfUeAPRXws4W82xZY/FJt4Kv7S0wyzZ8xeSubRiqXmEZqhNGsqFu5+HzGtPLvj2kywX1M2p+z/oGifaTpH6qiYx0BGNz5GKBNiAeL/zNPhnSwDFAa3AMXNfInpgDIDTVAfp2SA57nSQ0V4NwgHQFPuBAEwF+IHCAtgLMQPNAypBdFIgAuNkOUb9qiGJoC6rqvPL3PP843210/j5SLxZMAAAAASUVORK5CYII=')
}

div.txn-bulk {
    width: 500px;
    height: auto;
    position: absolute;
    z-index: 1;
    border: 2px solid var(--border);
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding-bottom: 10px;
}
div.txn-bulk:before {
    content: "Tag Transactions";
    font-size: 120%;
    font-weight: bold;
    background-color: var(--titlebar);
    color: var(--text);
    border-radius: 10px 10px 0 0;
    padding: 5px;
    margin: 0;
    display: block;
}

.drop-zone-active {
    border: 5px #11F dotted !important;
}

/* My Angular Customizations/Overrides */
/* Removes invisible space in md-chips box where tags are listed */
.mdc-evolution-chip-set__chips { display: inline-block !important; }
.mat-mdc-chip-input { margin-left: 0 !important; }
