:host {
    margin: 1rem auto;
    display: block;
    min-width: 13rem;
    padding: 1.2rem 1rem 1rem 1rem;
    box-sizing: border-box;
    width: 100%;
}

.tags-filter {
    position: relative;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    box-sizing: border-box;
}

.tags-filter:before {
    content: "Budgets: ";
    position: absolute;
    color: var(--text);
    top: 0;
    left: 1rem;
}

:host ng-select {
    width: 100%;
}
