<div id="account-detail" ng-controller="account" class="controller">
    <div class="titlebar" >
        <h2 class="title">{{ account.name }}</h2>
        <!-- @TODO: Add edit button -->
        <close routerLink="/accounts"></close>
    </div>
    <p><b>Balance</b>: <span>{{ account.balance() | currency }}</span></p>
    <p><b>Account Type</b>: <span>{{ account.accountType }}</span></p>
    <p>{{ account.description }}</p>
    <yaba-transaction-list
        [(transactions)]="account.transactions"
        [filters]="filters"
        [showFilters]="true"
        [showPaginate]="true"
        [editable]="true"
        class="dropfile detail"
    ></yaba-transaction-list>
    <errors [errors]="errors"></errors>
</div>
