<div id="account-detail" ng-controller="account" class="controller">
    <h2 class="title">{{ account.name }}</h2>
    <p>Balance: <span>{{ account.balance() | currency }}</span></p>
    <p>Account Type: <span>{{ account.accountType }}</span></p>
    <p>Number: <span>{{ account.number }}</span></p>
    <p>Routing: <span>{{ account.routing }}</span></p>
    <p>Interest Rate: <span>{{ account.interestRate }} ( {{ account.interestStrategy }} )</span></p>
    <p>{{ account.description }}</p>
    <yaba-transaction-list
        [(transactions)]="account.transactions"
        [showFilters]="false"
        [withTags]="false"
        [editable]="false"
        [withHeader]="true"
        [showPaginate]="true"
        class="dropfile detail"
    ></yaba-transaction-list>
    <div class="errors">@for(error of errors; track error) { <p>{{error}}</p> }</div>
</div>
