/* Main container styling */
:host {
    border: 0.25rem solid var(--border);
    border-radius: 1.2rem;
    box-shadow: var(--shadow) 15px 15px;
    background-color: var(--background);
    width: 95%;
    padding: 1rem;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
