<div id="account-detail" ng-controller="account" class="controller">
    <h2 class="title">{{ account.name }}</h2>
    <p><b>Balance</b>: <span>{{ account.balance() | currency }}</span></p>
    <p><b>Account Type</b>: <span>{{ account.accountType }}</span></p>
    <p><b>Interest Rate</b>: <span>{{ account.interestRate }} ( {{ account.interestStrategy }} )</span></p>
    <p>{{ account.description }}</p>
    <yaba-transaction-list
        [(transactions)]="account.transactions"
        [showFilters]="true"
        [filters]="filters"
        [withTags]="true"
        [editable]="true"
        [withHeader]="true"
        [showPaginate]="true"
        class="dropfile detail"
    ></yaba-transaction-list>
    <errors [errors]="errors"></errors>
</div>
