:host {
    border: 0.25rem solid var(--border);
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem var(--shadow);
    background-color: var(--background);
    width: 95%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    max-height: 95vh;
}

.prospect-txns {
  flex: 2;
  margin: 1rem;
}

yaba-wishlist {
  flex: 1;
}
