synxtax: glob

MANIFEST
build
dist

xactions.csv
bills.ods
/data

*.png
*.jpg
*.jpeg
*.gif

*.pdf
*.tar
*.gz
*.bz2
*.xz
*.bak

# JS/Node/npm stuff
node_modules/
bower_components/
npm-debug.log
yarn-error.log

.idea/
.vscode/
.nb/

# ElectronJS/webpack results we want to ignore.
dist/
.webpack/
out/
.angular/

# System files
.DS_Store
Thumbs.db
