synxtax: glob

*.pyc
*.egg-info

MANIFEST
build
dist
.coverage
.pytest_cache

xactions.csv
bills.ods
/data

*.png
*.jpg
*.jpeg
*.gif

*.pdf
*.tar
*.gz
*.bz2
*.xz
*.bak

# JS/Node/npm stuff
node_modules/
bower_components/
package-lock.json

.idea/
.vscode/
.nb/
dist/
