:host {
    border: 0.25rem solid var(--border);
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 1rem 1rem var(--shadow);
    background-color: var(--background);
    width: 100%;
    box-sizing: border-box;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    max-height: 95vh;
}
