<div class="titlebar">
  <div class="column">
    <h1>Settings</h1>
    <p>Where you control the app behaviours and preferences.</p>
  </div>
</div>
<div class="column box-content">
  <label for="txnDelta">How many months do you want in a transaction view by default?</label>
  <ng-select id="txnDelta" name="txnDelta" [(ngModel)]="settings.txnDelta" (change)="save()" [clearable]="false">
    <ng-option [value]="2592000000">30 days</ng-option>
    <ng-option [value]="5184000000">60 days</ng-option>
    <ng-option [value]="7776000000">90 days</ng-option>
    <ng-option [value]="15552000000">6 months</ng-option>
    <ng-option [value]="31104000000">1 year</ng-option>
    <ng-option [value]="62208000000">2 years</ng-option>
  </ng-select>
  <hr />

  <div class="row wide">
    <label for="incomeTags">What are your income tags?: </label>
    <div class="helper" helper="Income tags will tell this app how to treat things you deem as income per defined pay period as defined above.">
      <mat-icon fontIcon="question_mark"></mat-icon>
    </div>
  </div>
  <mat-form-field class="wide">
    <mat-chip-grid #incomeChips aria-label="Enter income tags">
@for( tag of settings.incomeTags; track tag ) {
      <mat-chip-row
        (removed)="remove('incomeTags', $event)"
        (edited)="edit('incomeTags', tag, $event)"
        [editable]="true"
        [aria-description]="'press enter to edit tag'">
      <span>{{ tag }}</span>
      <button matChipRemove [attr.aria-label]="'remove tag'">
        <mat-icon>cancel</mat-icon>
      </button>
      </mat-chip-row>
}
      <input #incomeInput id="incomeTags" name="incomeTags" placeholder="New tag..."
        [matChipInputFor]="incomeChips"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add('incomeTags', $event)"/>
    </mat-chip-grid>
  </mat-form-field>
  <hr />

  <div class="row wide">
    <label for="expenseTags">What are your expense tags?: </label>
    <div class="helper" helper="Expense tags will tell me how to handle things that are bills. This is best suited for recurring expenses rather than 1-time expenses.">
      <mat-icon fontIcon="question_mark"></mat-icon>
    </div>
  </div>
  <mat-form-field class="wide">
    <mat-chip-grid #expenseChips aria-label="Enter expense tags">
@for ( tag of settings.expenseTags; track tag ) {
      <mat-chip-row
        (removed)="remove('expenseTags', $event)"
        (edited)="edit('expenseTags', tag, $event)"
        [editable]="true"
        [aria-description]="'press enter to edit tag'">
        <span>{{ tag }}</span>
        <button matChipRemove [attr.aria-label]="'remove tag'">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
}
      <input #expenseInput id="expenseTags" name="expenseTags" placeholder="New tag..."
        [matChipInputFor]="expenseChips"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add('expenseTags', $event)"/>
    </mat-chip-grid>
  </mat-form-field>
  <hr />

  <div class="row wide">
    <label for="transferTags">What is your transfer tag?: </label>
    <div class="helper" helper="Tags with this transfer will be marked as such and I will attempt to marry them to matching transactions.">
      <mat-icon fontIcon="question_mark"></mat-icon>
    </div>
  </div>
  <mat-form-field class="wide">
    <mat-chip-grid #transferChips aria-label="Enter transfer tags">
@for( tag of settings.transferTags; track tag ) {
        <mat-chip-row
        (removed)="remove('transferTags', $event)"
        (edited)="edit('transferTags', tag, $event)"
        [editable]="true"
        [aria-description]="'press enter to edit tag'">
        <span>{{ tag }}</span>
        <button matChipRemove [attr.aria-label]="'remove tag'">
          <mat-icon>cancel</mat-icon>
        </button>
        </mat-chip-row>
}
      <input #transferInput id="transferTags" name="transferTags" placeholder="New tag..."
          [matChipInputFor]="transferChips"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add('transferTags', $event)"/>
    </mat-chip-grid>
  </mat-form-field>
  <hr />

  <div class="row wide">
    <label for="hideTags">What is your hide tag?: </label>
    <div class="helper" helper="These transactions will be hidden from view and removed from calculations.">
      <mat-icon fontIcon="question_mark"></mat-icon>
    </div>
  </div>
  <mat-form-field class="wide">
    <mat-chip-grid #hiddenChips aria-label="Enter hidden tags">
@for ( tag of settings.hideTags; track tag ) {
      <mat-chip-row
        (removed)="remove('hideTags', $event)"
        (edited)="edit('hideTags', tag, $event)"
        [editable]="true"
        [aria-description]="'press enter to edit tag'">
        <span>{{ tag }}</span>
        <button matChipRemove [attr.aria-label]="'remove tag'">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
}
      <input #hiddenInput id="hideTags" name="hideTags" placeholder="New tag..."
        [matChipInputFor]="hiddenChips"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add('hideTags', $event)"/>
    </mat-chip-grid>
  </mat-form-field>
  <hr />

  <div class="row wide">
    <label for="additionalFields">What additional Fields do you want to see on transaction lists? </label>
    <div class="helper" helper="Checking these will include these columns in transaction list displays">
      <mat-icon fontIcon="question_mark"></mat-icon>
    </div>
  </div>
  <div id="additionalFields" name="additionalFields" class="column " layout="column">
    <div><mat-checkbox [(ngModel)]="settings.txShow.id" (ngModelChange)="save()">Transaction ID</mat-checkbox></div>
    <div><mat-checkbox [(ngModel)]="settings.txShow.datePending" (ngModelChange)="save()">Date Pending</mat-checkbox></div>
    <div><mat-checkbox [(ngModel)]="settings.txShow.account" (ngModelChange)="save()">Account Name</mat-checkbox></div>
    <div><mat-checkbox [(ngModel)]="settings.txShow.tax" (ngModelChange)="save()">Tax</mat-checkbox></div>
    <div><mat-checkbox [(ngModel)]="settings.txShow.merchant" (ngModelChange)="save()">Merchant</mat-checkbox></div>
    <div><mat-checkbox [(ngModel)]="settings.txShow.transactionType" (ngModelChange)="save()">Transaction Type</mat-checkbox></div>
    <div><mat-checkbox [(ngModel)]="settings.txShow.tags" (ngModelChange)="save()">Budgets</mat-checkbox></div>
  </div>
  <hr />

  <label for="exportCSV">Export all data to a set of CSV files in ZIP format: </label>
  <button id="exportCSV" name="exportCSV" (click)="export2zip()" class="">[Export]</button>
  <hr />

  <label for="importCSV">Import a previous export: </label>
  <input id="importCSV" name="importCSV" type="file" accept="*.zip" (change)="importFromZip($event)" />
  <hr />

  <label for="deleteAll">Delete all data: </label>
  <span class="warning ">NOTE: This will delete ALL the data!!!</span>
  <button id="deleteAll" name="deleteAll" (click)="deleteAll()" class="">DELETE</button><br />
</div>
