<md-content layout="row">
  <div id="accounts" ng-controller="accounts" class="controller">
    <h1>Accounts</h1>
    <p>This is where you view and manage accounts associated with each institution.</p>
    <add ng-click="add()" class="right"></add><br clear="all" />
    <md-grid-list md-row-height="7:4" md-cols-xl="3" md-cols-lg="2" md-cols-md="1" md-cols-sm="1" md-cols-xs="1" md-gutter="1">
      <md-grid-tile class="item-list-wrapper" ng-repeat="account in accounts">
          <md-grid-tile-header>
              <h2 class="title md-truncate" ng-bind="account.name"></h2>
              <div class="account-balance">{{ account.balance() | currency }}</div>
              <actions>
                <inspect ng-click="view(account)" class="helper" helper="View &quot;{{ account.name }}&quot; details &amp; Transactions."></inspect>
                <edit ng-click="edit(account)" class="helper" helper="Edit Account &quot;{{ account.name }}&quot;."></edit>
                <trash ng-click="remove(account)" class="helper" helper="Delete Account &quot;{{ account.name }}&quot;."></trash>
              </actions>
          </md-grid-tile-header>
          <yaba-transaction-list
            account-id="account.id"
            limit="5"
            class="csvdrop"
          ></yaba-transaction-list>
      </md-grid-tile>
    </md-grid-list>
    <div class="errors">{{ error }}</div>
    <yaba-account-form
      account="account"
      ng-show="seeForm"
      mode="mode"
      see-form="seeForm"
      class="ng-fade ng-hide" />
  </div>
</md-content>
