<div id="budget" ng-controller="budget" class="controller">
    <h1>Budgeting</h1>
    <p>Budgeting helps ensure we stay on track for spending.</p>
    <yaba-controls
      from-date="fromDate"
      to-date="toDate"
      selected-accounts="selectedAccounts"
      description="description"
      txn-tags="txnTags"
      show-daterange="true"
      show-accounts="true"
      show-description="true"
      show-tags="true"
    ></yaba-controls>
    <div layout="row">
        <yaba-transaction-list
            from-date="fromDate"
            to-date="toDate"
            selected-accounts="selectedAccounts"
            description="description"
            txn-tags="txnTags"
            include-tags="true"
            show-tags="true"
            editable="editable"
        ></yaba-transaction-list>
        <yaba-budget
          budgets="budgets"
          from-date="fromDate"
          to-date="toDate"
          selected-accounts="selectedAccounts"
        ></yaba-budget>
    </div>
    <div class="errors">{{ error }}</div>
</div>
