<date-range layout="row" layout-padding ng-cloak>
    <from-date>
        <input
          type="date"
          ng-model="fromDate"
          ng-change="$emit('date.change', this)"
          placeholder="From Date"
          class="from-date"
        />
    </from-date>
    &nbsp;
    <to-date>
        <input
            type="date"
            ng-model="toDate"
            ng-change="$emit('date.change', this)"
            placeholder="To Date"
            class="to-date"
        />
    </to-date>
</date-range>
