<div id="institutions">
    <h1>Institutions</h1>
    <p>
        This is where you configure your Banks and
        institutions for the associations between
        their CSV/Excel formats and Yaba representation of transactions.
    </p>
    <add (click)="add()" class="right"></add><br clear="all" />
    <div class="institution-list">
        <div class="institution" *ngFor="let institution of collection">
            <figcaption>
                <h2>{{ institution.name }}</h2>
                <actions>
                    <edit (click)="edit(institution)" class="helper" attr.helper="Edit Institution &quot;{{ institution.name }}&quot;."></edit>
                    <trash (click)="remove(institution)" class="helper" attr.helper="Delete Institution &quot;{{ institution.name }}&quot;."></trash>
                </actions>
            </figcaption>
            <p> {{ institution.description }} </p>
            <table id="{{ institution.id }}" class="institution-mappings data item-list">
                <thead>
                    <th>From Field</th>
                    <th>To Field</th>
                    <th>Map Type</th>
                </thead>
                <tbody>
                    <tr *ngFor="let mapping of institution.mappings">
                        <td>{{ mapping.fromField }}</td>
                        <td>{{ mapping.toField }}</td>
                        <td>{{ mapping.mapType }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="errors"><p *ngFor="let error of errors">{{ error }}</p></div>
    
    <yaba-institution-form
        [(institution)]="institution"
        [visible]="showForm"
        class="ng-fade csvdrop"
    ></yaba-institution-form>
</div>
