<yaba-institutions>
    <h1>Institutions</h1>
    <p>
        This is where you configure your Banks and
        institutions for the associations between
        their CSV/Excel formats and Yaba representation of transactions.
    </p>

    <add (click)="add()" class="right"></add><br clear="all" />
    <institution-list>
        <institution *ngFor="let institution of institutions">
            <figcaption>
                <h2>{{ institution.name }}</h2>
                <actions>
                    <edit (click)="edit(institution)" class="helper" helper="Edit Institution &quot;{{ institution.name }}&quot;."></edit>
                    <trash (click)="remove(institution)" class="helper" helper="Delete Institution &quot;{{ institution.name }}&quot;."></trash>
                </actions>
            </figcaption>
            <p> {{ institution.description }} </p>
            <table id="{{ institution.id }}" class="institution-mappings data item-list">
                <thead>
                    <th>From Field</th>
                    <th>To Field</th>
                    <th>Map Type</th>
                </thead>
                <tbody>
                    <tr *ngFor="let mapping of institution.mappings">
                        <td>{{ mapping.fromField }}</td>
                        <td>{{ mapping.toField }}</td>
                        <td>{{ mapping.mapType }}</td>
                    </tr>
                </tbody>
            </table>
        </institution>
    </institution-list>
    
    <div class="errors">{{ error | join("<br />") }}</div>
    
    <yaba-institution-form
        institution="institution"
        class="ng-fade ng-hide csvdrop"
        headers="1"
        mode="mode"
        see-form="seeForm"
        ng-show="seeForm"
        />
</yaba-institutions>
