<div id="accounts" class="controller">
    <h1>Accounts</h1>
    <p>
        This is where you view and manage accounts associated with each institution.
    </p>
    <add (click)="add()" class="right"></add><br clear="all" />
    <div class="account-list yaba-list-wrapper">
@for(account of accounts; track account.id) {
    <div class="account yaba-item">
        <figcaption>
            <div>
                <h2 class="title md-truncate"><a [routerLink]="['/accounts', account.id]">{{account.name}}</a></h2>
                <div class="account-balance">{{ account.balance() | currency }}</div>
            </div>
            <actions>
                <inspect (click)="view(account)" class="helper" title="View &quot;{{ account.name }}&quot; details &amp; Transactions."></inspect>
                <edit (click)="edit(account)" class="helper" title="Edit Account &quot;{{ account.name }}&quot;."></edit>
                <trash (click)="remove(account)" class="helper" title="Delete Account &quot;{{ account.name }}&quot;."></trash>
            </actions>
        </figcaption>
        <yaba-transaction-list
            [transactions]="account.transactions.sample()"
            [filters]="filters"
            [showFilters]="false"
            [showTags]="false"
            [showPaginate]="false"
            [truncate]="true"
            [editable]="false"
            class="dropfile"
        ></yaba-transaction-list>
    </div>
}
    </div>
    <errors [errors]="errors"></errors>
    <yaba-account-form
      [(account)]="account"
      [(formMode)]="formMode"
      (close)="close()"
      (save)="save(account)"
      [ngClass]="{ 'ng-hide': !formVisible }"
      class="suave"></yaba-account-form>
</div>
