<div id="accounts" class="controller">
    <h1>Accounts</h1>
    <p>
        This is where you view and manage accounts associated with each institution.
    </p>
    <add (click)="add()" class="right"></add><br clear="all" />
    <div class="account-list yaba-list-wrapper">
@for(account of accounts; let i = $index; track account.id) {
    <div class="account yaba-item dropfile" (fileDrop)="parseCSVFiles(account, $event)" [preventBodyDrop]="true" [id]="account.id">
        <div class="titlebar">
            <div>
                <h2 class="title md-truncate"><a [routerLink]="['/accounts', account.id]">{{account.name}}</a></h2>
                <div class="account-balance">{{ account.balance() | currency }}</div>
            </div>
            <actions>
                <inspect [routerLink]="['/accounts', account.id]" class="helper" title="View &quot;{{ account.name }}&quot; details &amp; Transactions."></inspect>
                <upload (upload)="parseCSVFiles(account, $event)" class="helper" title="Upload transactions for &quot;{{ account.name }}&quot;."></upload>
                <edit (click)="edit(account)" class="helper" title="Edit Account &quot;{{ account.name }}&quot;."></edit>
                <trash (click)="remove(account)" class="helper" title="Delete Account &quot;{{ account.name }}&quot;."></trash>
            </actions>
        </div>
        <yaba-transaction-list
            [transactions]="tview[i]"
            [filters]="filters"
            [showFilters]="false"
            [showPaginate]="false"
            [truncate]="true"
            [editable]="false"
        ></yaba-transaction-list>
    </div>
}
    </div>
    <errors [errors]="errors"></errors>
    <yaba-account-form
      [account]="account"
      (cancel)="cancel()"
      (save)="save(account)"
      [ngClass]="{ 'ng-hide': !formVisible }"
      class="suave"></yaba-account-form>
</div>
