<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar Home -->
      <a class="navbar-dashboard" routerLink="/" routerLinkActive="router-link-active" >Yaba</a>

      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        >
        <!-- Left links -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Navigate the site">
          <settings></settings>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item  *ngFor="let route of routes">
            <a routerLink="{{ route.path }}">{{ route.title }}</a>
          </button>
        </mat-menu>
        
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngFor="let route of routes">
          <li class="nav-item">
            <h1><a class="nav-link active" aria-current="page" routerLink="{{ route.path }}">{{ route.title }}</a></h1>
          </li>
        </ul> -->
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
<!-- Navbar -->
