<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar Home -->
@if( isScreenSmall ) {
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        >
        <!-- Left links -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Navigate the site">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
@for(route of routes; track route.path) {
            <button mat-menu-item>
                <a routerLink="{{ route.path }}">{{ route.title }}</a>
            </button>
}
        </mat-menu>
        <!-- /Left links -->
      </div>
      <!-- /Collapsible wrapper -->

} @else {
        <!-- RouterLink top-level menu -->
         <div class="nav-wrapper">
    @for(route of routes; track route.path) {
            <menu>
                <a [routerLink]="[route.path]" class="nav-link">{{ route.title }}</a>
            </menu>
    }
        </div>
}
    </div>
    <!-- Container wrapper -->
  </nav>
<!-- Navbar -->
