<h1>DEBUGGING!</h1><br />
<div>
    <label>Filters: <input type="checkbox" name="showFilters" #showFilters checked /></label> |
    <label>Editable: <input type="checkbox" name="editable" #editable checked /></label> |
    <label>Paginate: <input type="checkbox" name="showPaginate" #showPaginate checked /> </label> |
    <label>Header: <input type="checkbox" name="showHeader" #showHeader checked /> </label> |
    <br />
    <!-- <p>
        Fields: 
        ID: <input type="checkbox" name="txShow_id" [(ngModel)]="txShow.id" /> |
        Date: <input type="checkbox" name="txShow_date" [(ngModel)]="txShow.datePending" /> |
        Account: <input type="checkbox" name="txShow_account" [(ngModel)]="txShow.account" /> |
        Merchant: <input type="checkbox" name="txShow_merchant" [(ngModel)]="txShow.merchant" /> |
        Type: <input type="checkbox" name="txShow_type" [(ngModel)]="txShow.transactionType" /> |
    </p> -->
    
    <textarea></textarea>
</div>
<yaba-transaction-list
    [(transactions)]="transactions"
    [filters]="filters"
    [showFilters]="showFilters.checked"
    [showPaginate]="showPaginate.checked"
    [editable]="editable.checked"
></yaba-transaction-list>

