
body {
    font-family: "Sans", "Arial", "Calibri"
}

#page {
    width: 80%;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 20px 0 0 0;
    display: block;
}

#navbar {
    width: 100%;
    height: 44px;
    margin: 0;
    padding: 0;
    display: block;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    width: 100%;
    border: 1px chocolate;
    display: block;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: #444444;
    background-color: #eee;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #111;
}

#navbar li.nav-active a {
    background-color: #999;
}

.title {
    font-size: 140%;
    font-weight: bold;
    padding-top: 5px;
    margin: 2px;
}

.item-list {
    margin: 2px;
    padding: 2px;
    min-width: 350px;
}
.item-list-wrapper {
    width: auto;
    display: inline-block;
    max-width: 1024px;
}

.item-list-wrapper h1 {
    font-size: 200%;
    font-weight: bold;
    margin: 1px 1px 1px 8px;
    padding: 5px;
    width: 99%;
    text-decoration: underline;
}

.item-list-wrapper h2 {
    font-size: 150%;
    font-weight: bold;
    margin: 1px 1px 1px 5px;
    padding: 5px;
    width: 99%;
    text-decoration: underline;
}
.item-list-wrapper h3 {
    font-size: 130%;
    font-weight: bold;
    margin: 1px 1px 1px 4px;
    padding: 5px;
    width: 99%;
    text-decoration: underline;
}
.controller {
    min-height: 200px;
}
.controller h1 {
    font-size: 180%;
    font-weight: bold;
    text-decoration: underline;
    margin: 20px 5px 5px 5px;
    padding: 5px;
    width: 97%;
    display: block;
}
.controller h2 {
    font-size: 150%;
    font-weight: bold;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    width: 97%;
    display: block;
}
.controller h3 {
    font-size: 130%;
    font-weight: bold;
    text-decoration: underline;
    margin: 5px 1px 1px 5px;
    padding: 5px;
    width: 97%;
    display: block;
}
.controller p {
    font-size: 24px;
    padding: 5px;
}

table.data {
    border: 1px solid black;
    box-shadow: 8px 8px #1c052c3c;
    margin: 5px 10px 5px 10px;
    max-width: 90%;
    max-height: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: auto;
    display: inline-block;
}
table.data th {
    font-weight: bold;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid black;
    cursor: pointer;
    margin: 5px auto;
    /* min-width: 100px; */
}
/* table.data tbody {
    display: block;
    width: 100%;
    overflow: auto;
    max-height: 500px;
} */
table.data thead {
    /* display: block; */
    position: sticky;
    top: 0px;
}
table.data td {
    padding: 2px 5px 2px 5px;
    overflow: auto;
    /* min-width: 100px; */
}
table.data tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table.data th:first-child {
    min-width: 120px;
}


.new-item-wrapper {
    display: block;
    width: 500px;
    height: auto;
    float: right;
    background: #EEEEEE;
    margin: 5px;
    padding: 10px;
    box-shadow: 8px 8px #1c052c3c;
    border: 2px solid black;

    position: absolute;
    top: 20%;
    left: 30%;
}
.new-item-wrapper input {
    height: 18px;
    font-size: 14px;
}
.new-item-wrapper select {
    height: 28px;
    font-size: 24px;
    margin: 2px;
    padding: 2px;
}
.new-item-wrapper input[type=text], .new-item-wrapper input[type=number], .new-item-wrapper select {
    min-width: 300px;
}
.new-item-wrapper input[type=submit] {
    font-size: 120%;
    margin: 2px;
    padding: 3px;
    height: auto;
    box-shadow: 2px 2px #00000050;
}
.new-item-wrapper form {
    margin: 3px;
    padding: 3px;
}
.new-item-wrapper form ul li {
    border: 1p solid #aaa;
}
.new-item-wrapper form ul li trash {
    float: left;
}
.title a {
    display: inline-block;
    margin: 2px auto 2px 2px;
    width: 65%;
}
.account-balance {
    display: block;
    margin: 2px 2px 2px auto;
    padding: 2px;
    width: 30%;
    float: right;
    font-style: italic;
    font-size: 20px;
}
yaba-transaction-list {
    display: block;
    margin: 2px;
    padding: 2px;
}
.csvdrop.dragging {
  border: 3px solid #11F;
}

form span.label, form label {
    text-align: right;
    width: 99%;
    margin: 5px 5px 5px auto;
    padding: 5px;
    display: block;
}

form span.label input[type=text] {
    width: 300px;
    margin: 0 0 0 0;
}

footer { float: left; margin: 5px; }

button {
    display: block;
    margin: 0 0 0 auto;
    height: 40px;
    width: 175px;
    font-size: 120%;
    font-weight: bold;
}
/* Custom Icons */
add {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAGFBMVEVhcABT3kdk3mFt3mlu32p44nWA4338//u9xAiZAAAAAXRSTlMAQObYZgAAAM1JREFUSMe91s0NgzAMBWB7A78TZ0boCB2hI3SEnLI+KkjNjx07ohRf88UKEfhBVBf2olHhW9G6KRhNibvf6gH4gjWQYL0VMMtqsOScjBb1es5v1aI0+KwbLTqQFcAIQD1jD2QOYAzQ36ICcgmABzAB2AdyByjvQV+v45TVzr4KWE6CNQLP/4PHz4eMLipVYPBl7YB9IHcA8gFNAPaAXALIA+YASdGEUYDG4OScNGZxO4qNac72tJf5OIgDJYykONTiWIyDNYzmiXC3fw82l6MakgvgjQcAAAAASUVORK5CYII=');
}
close, .ng-close {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAFVBMVEVvcm3/AAD/9vb/+vr//Pz//v7///+vlWMoAAAAAXRSTlMAQObYZgAAAOZJREFUSMfllUEWwiAMRNsbMOgFqj72bnoPNx6g+rj/ESxtqbQhjFVXyiKbfCYhhFBV/7hqwBTcmBbzawRQJoAyUS8BQwSkxNovJASAYgZSAihL1DnAbAEAEoMBMYJrgrWdiDEB1g8u55s1EAV8cFnvLzrQRbtMAjFELzEYBRg2JwISCLsTAcg6uuDvRC2fgF0IZAC0qYCicC8BpxDirAO2zSc5H3PXB8gd8+VC0VLTy9rH6260hrmODXPTABzHljvItv64q7/wsujj5c+fDhApYbYOMT4G6SDlo5gP8zkP8/6H8rvrAYleX2kwKGFPAAAAAElFTkSuQmCC');
}
trash {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAJ1JREFUOMu909ENxCAIAFD8YAT2cQQ+YP9VDmyJEK+NaS9H/HohiAYARpCqQIqmFj0BOnACcpBbsHQsYAXbNowWZvQVsAKvGVBhVJ23jQc+BGvHzgmg3jWy938kq7/cgfehB7SAKPpbUAcNoAnyGDgAXwAcANuAE/gaOp5XfQcJoH+CfRw5yBj5C0CfMU6QtqTMpe5DXo4tgLI+C3wAPtZ/2wH5BkcAAAAASUVORK5CYII=');
    border: 1px solid black;
}
edit {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAN5JREFUOMvNk7sBBCEIBTGwg6OfTS4ngP5bOeEh4lZwJurIDn5Yoj9s9tzzabpXzLxjdL6CkRHjG0bkUJoAO1BpBBgCwJbDjCPj5wJDpwBwKmQoHAlWSkPwh3YuRr7axdphA1MAC/iupzRgCTeI6DyDvhQATQHQFAG6IkBXBOgK0pfCwaVwcCkcXAoHl2KBUuzj+8UEPOCBosCahWIDXvFGHZBhFwfwV24wUU0HjP4iut5u9hf5eHH1F+FddERSAPOspVnHzNG5iKqlKu1XXysrK5rQKe1oZc8Q/adf9Qd5Bzj5jcKSOAAAAABJRU5ErkJggg==');
    border: 1px solid black;
}
save {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAIBJREFUOMvl0zEOgCAMhWE69Ajch8Xdgd7/KgKt9NnEhIXExC6ab/gTsKa0ZVjuKQp5whmhRhCDwuNdDosMqP1pEYdcA7AEII04JI0AaARAIwAaAdAIwogg8Dv0wzUgB72wZaB5Xwb+Bb4ONBfkebi2IOtgu8R/AIFZA0Y49/zoF6YJcMkbWlfuAAAAAElFTkSuQmCC');
}

add, edit, save, trash, close {
    background-size: 32px;
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    cursor: pointer;
}
add:hover, edit:hover, save:hover, trash:hover, close:hover { cursor: grab; }

.small-icon {
    width: 24px;
    height: 24px;
    background-size: 24px;
}

code {
    width: 90%;
    padding: 3px;
    margin: 5px 10px;
    display: block;
    border: 1px solid gray;
    background-color: #AFAFAF;
    font-family: Monospace, Sans-serif, "Courier New";
    font-size: 14px;
}
pre {
    display: block;
    margin: 2px;
    padding: 2px;
    font-family: Monospace, Sans-serif, "Courier New";
    font-size: 14px;
    word-wrap: break-word;
    background-color: white;
}
.warning { 
    background-color: red;
    color: yellow;
    font-size: 20px;
}
.right { display: block; float: right; }


mapping {
    border: 1px solid #999;
    display: block;
    padding: 5px;
    margin: 5px 5px 5px 20px;
    line-height: 20px;
    height: 135px;
}

.ng-fade { transition: all ease-in-out 400ms; }
.ng-fade.ng-hide { opacity: 0; }
.ng-fade.ng-hide { opacity: 1; }

.slide-down { transition: all 400ms ease-in-out; }
.slide-down.ng-hide { opacity: 0; height: 0; opacity: 0; }
.slide-dwon.ng-show { opacity: 1; height: 135px; opacity: 1; }


nav {
    display: block;
    text-align: right;
}
.pagination {
    display: inline-block;
    cursor: pointer;
}
.pagination li {
    display: inline-block;
    font-weight: bold;
}
.pagination li.page-item {
    border: 1px solid #0f3079;
    border-radius: 5px;
    display: inline-block;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    width: 34px;
    height: 28px;
    margin: 2px;
    padding: 5px 1px 1px 1px;
}
.pagination .active {
    background-color: #789d12;
    color: #195281;
    font-size: 22px;
}
.pagination .disabled {
    color: #630909;
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
}

.txn-edit-field {
    width: 100%;
    height: 28px;
    background-color: #c4c4c4;
}
google-chart {
    display: block;
    min-width: 800px;
    min-height: 600px;
    border: 1px solid black;
}
.chart {
    display: block;
    width: 1024px;
    height: 768px;
    border: 1px solid black;
}
data-table {
    font-size: 25px;
}
yaba-daterange {
    width: 100%;
}
filters {
    display: block;
    width: 99%;
    border: 1px solid #00000050;
}
debug {
    display: block;
    width: 400px;
    height: 400px;
    overflow: auto;
    border: 2px solid blue;
    float: right;
}
debug p {
    display: block;
    width: 97%;
    font-family: monospace, "Sans Serif";
    font-size: 10px;
    word-wrap: break-word;
}