:host {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
    border: 0.1rem solid var(--border);
    border-radius: 0.5rem;
    vertical-align: middle;
    margin: 2.4rem auto 2rem auto;
    position: relative;
}

:host:before {
    content: "Filters: ";
    position: absolute;
    top: -25px;
    left: 25px;
    color: var(--text);
    font-family: sans-serif, monospace;
    font-weight: bold;
    font-size: 150%;
}
