:host {
    display: flex;
    flex-flow: column;
    width: 100%;
    border: 0.1rem solid var(--border);
    border-radius: 0.5rem;
    vertical-align: top;
    margin: 30px auto 15px auto;
    position: relative;
    box-sizing: border-box;
}

:host:before {
    content: "Filters: ";
    color: var(--text);
    font-family: sans-serif, monospace;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    top: -25px;
    left: 25px;
}
