<div id="institutions">
    <h1> Institutions </h1>
    <p>
        This is where you configure your Banks and
        institutions for the associations between
        their CSV/Excel formats and Yaba representation of transactions.
        Your institutions and their CSV associations are listed below.
    </p>
    <add (click)="add()" class="right"></add><br clear="all" />
    <div class="institution-list yaba-list-wrapper">
@for( institution of institutions; let i = $index; track institution.id ) {
        <div class="institution yaba-item">
            <figcaption>
                <div>
                    <h2>{{ institution.name }}</h2>
                    <p> {{ institution.description }} </p>
                </div>
                <actions>
                    <edit (click)="edit(i, institution)" class="helper" attr.helper="Edit Institution &quot;{{ institution.name }}&quot;."></edit>
                    <trash (click)="remove(i, institution)" class="helper" attr.helper="Delete Institution &quot;{{ institution.name }}&quot;."></trash>
                </actions>
            </figcaption>
            <table id="{{ institution.id }}" class="institution-mappings data item-list">
                <thead>
                    <th>From Field</th>
                    <th>To Field</th>
                    <th>Map Type</th>
                </thead>
                <tbody>
    @for( mapping of institution.mappings; track mapping ) {
                    <tr>
                        <td>{{ mapping.fromField }}</td>
                        <td>{{ mapping.toField }}</td>
                        <td>{{ mapping.mapType }}</td>
                    </tr>
    }
                </tbody>
            </table>
        </div>
}
    </div>
    <yaba-institution-form
        [institution]="institution"
        (save)="save($event)"
        (cancel)="cancel()"
        [ngClass]="{ 'ng-hide': !formVisible }"
        class="suave"
    ></yaba-institution-form>
</div>
