@if ( editable ) {
  <td class="actions-cell">
    @if ( editing ) {
      <mat-icon (click)="save(txn)" class="small check_circle-icon" fontIcon="check_circle"></mat-icon>
      <mat-icon (click)="cancel()" class="small cancel-icon" fontIcon="cancel"></mat-icon>
    } @else {
      <input type="checkbox" name="select_txn_{{ txn.id }}" #txnSelected [checked]="select" (change)="selectTxn(txnSelected.checked)" class="small" />
      <mat-icon (click)="edit()" class="small edit-icon" fontIcon="edit"></mat-icon>
      <mat-icon (click)="dropTxn()" class="small delete-icon" fontIcon="delete"></mat-icon>
    }
  </td>
}
@if ( txShow.id ) { <td [field]="'id'" class="yaba-txn-field" [(txn)]="txn" [class.editing]="editing" [editing]="editing" [truncate]="truncate" ></td> }
@if ( txShow.datePending ) { <td [field]="'datePending'" class="yaba-txn-field" [(txn)]="txn" [class.editing]="editing" [editing]="editing" [truncate]="truncate" ></td> }
<td [field]="'datePosted'" class="yaba-txn-field" [(txn)]="txn" [class.editing]="editing" [editing]="editing" [truncate]="truncate" ></td>
@if ( txShow.account ) { <td [field]="'accountId'" class="yaba-txn-field" [(txn)]="txn" [class.editing]="editing" [editing]="editing" [truncate]="truncate" ></td> }
<td [field]="'description'" class="yaba-txn-field" [(txn)]="txn" [class.editing]="editing" [editing]="editing" [truncate]="truncate" ></td>
<td [field]="'amount'" class="yaba-txn-field" [(txn)]="txn" [class.editing]="editing" [editing]="editing" [truncate]="truncate" ></td>
@if ( txShow.tax ) { <td [field]="'tax'" class="yaba-txn-field" [(txn)]="txn" [class.editing]="editing" [editing]="editing" [truncate]="truncate" ></td> }
@if ( txShow.merchant ) { <td [field]="'merchant'" class="yaba-txn-field" [(txn)]="txn" [class.editing]="editing" [editing]="editing" [truncate]="truncate" ></td> }
@if ( txShow.transactionType ) { <td [field]="'transactionType'" class="yaba-txn-field" [(txn)]="txn" [class.editing]="editing" [editing]="editing" [truncate]="truncate" ></td> }
@if ( txShow.tags ) { <td [field]="'tags'" class="yaba-txn-field" [(txn)]="txn" [class.editing]="editing" [editing]="editing" [truncate]="truncate"></td> }
