<yaba-institution-form>
    <close (click)="close()"></close>
    <h1>{{ institution.name || 'New' }} Institution</h1>
    <form (ngSubmit)="save()">
        <label>Name: <input type="text" tabindex="1" (ngModel)="institution.name" /></label>
        <label>Description: <input type="text" tabindex="2" (ngModel)="institution.description" /></label>
        <label>Mapping: <add tabindex="3" (click)="addMapping()"></add></label>
        <ul>
            <li *ngFor="let mapping of institution.mappings; let i = index">
                <mapping class="slide-down">
                    <trash *ngIf="institution.mappings.length > 1" (click)="removeMapping(mapping)" tabindex="{{ (i * 4) + 7 }}" ></trash>
                    <label class="slide-down">
                        From {{ mapping.mapType == MapTypes.static ? 'Value': 'Field' }}:
                        <input type="text" tabindex="{{ (i * 4) + 4 }}" (ngModel)="mapping.fromField" />
                    </label>
                    <label class="slide-down">
                        To Field: <select
                          tabindex="{{ (i * 4) + 5 }}"
                          (ngModel)="mapping.toField"
                        >
                            <option *[ngFor]="let txnField for txnField in TransactionFields" (ngModel)="txnField">{{ txnField }}</option>
                        </select>
                    </label>
                    <label class="slide-down">Mapping Type: <select tabindex="{{ (i * 4) + 6 }}" (ngModel)="mapping.mapType">
                        <option value="static">Static</option>
                        <option value="dynamic">Dynamic</option>
                    </select></label>
                </mapping>
            </li>
        </ul>
        <input type="submit" tabindex="{{ 3 + (institution.mappings.length*4) +1 }}" value="Save Institution" />
    </form>
</yaba-institution-form>
