:host {
    width: 75vw;
    max-height: 88vh;
    position: fixed;
    top: 5vh;
    background-color: var(--form);
    border: 0.2rem solid var(--border);
    border-radius: 1.5rem;
    padding: 10px;
    box-shadow: 2rem 2rem 1rem var(--shadow);
}

.titlebar {
    display: flex;
    flex-flow: row;
    background-color: var(--titlebar);
    border-radius: 1.5rem 1.5rem 0 0;
    color: var(--text);
    width: 99.3%;
    padding: 1rem;
    /* margin: -0.7rem -0.7rem 2rem -0.7rem; */
    position: relative;
    top: -0.7rem;
    left: -0.7rem;
}

.titlebar h1 {
    margin: 0;
    flex-grow: 1;
}

form {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

form .institution-metadata {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form .submission {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 0 auto;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

input[type="text"] {
    width: 90%;
    margin-top: 5px;
}

input[type="button"] {
    margin: 10px 5px;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

li {
    margin: 10px 0;
}
