<trash (click)="rmMap(mapping)" tabindex="{{ (index * 4) + 7 }}" ></trash>
<label class="slide-down">
    From {{ mapping?.mapType == MapTypes.static ? 'Value': 'Field' }}:
    <input type="text" tabindex="{{ (index * 4) + 4 }}" (ngModel)="mapping?.fromField" />
</label>
<label class="slide-down">
    To Field: <select
      tabindex="{{ (index * 4) + 5 }}"
      (ngModel)="mapping?.toField"
    >
        <option *ngFor="let txnField for txnField in TransactionFields" (ngModel)="txnField">{{ txnField }}</option>
    </select>
</label>
<label class="slide-down">Mapping Type: <select tabindex="{{ (index * 4) + 6 }}" (ngModel)="mapping?.mapType">
    <option value="static">Static</option>
    <option value="dynamic">Dynamic</option>
</select></label>
