<div class="date-range-wrapper">
    <div class="from-date-wrapper date-input-wrapper">
        <input
          type="date"
          [(ngModel)]="fromDate"
          (ngModelChange)="changed()"
          placeholder="From Date"
          class="from-date"
          name="fromDate"
        />
    </div>
    &nbsp;
    <div class="to-date-wrapper date-input-wrapper">
        <input
            type="date"
            [(ngModel)]="toDate"
            (ngModelChange)="changed()"
            placeholder="To Date"
            class="to-date"
            name="toDate"
        />
    </div>
</div>
