<nav> <!-- (ngKeyDown)="keyNavigate($event)" -->
    <ul class="pagination">
      <li [ngClass]="{'disabled': page == 0}" (ngClick)="previous()">&lt;&lt;</li>
        <li
          *ngFor="let p of [].constructor(pageCount)"
          [ngClass]="{'active': page == p}"
          (ngClick)="setPage(p)"
          class="page-item">
            {{p + 1}}
        </li>
      <li [ngClass]="{'disabled': page > pageCount -1}" (ngClick)="proximo()">&gt;&gt;</li>
    </ul>
    <label>Items per Page:</label>
    <select ng-model="itemsPerPage" ng-change="refresh()">
      <option ng-value="10" selected>10</option>
      <option ng-value="25">25</option>
      <option ng-value="50">50</option>
      <option ng-value="100">100</option>
    </select>
    <label>Results: {{itemCount}}</label>
  </nav>
  