<nav ng-keydown="keyNavigate($event);">
    <ul class="pagination">
      <li ng-class="{'disabled': page == 0}" ng-click="previous()">&lt;&lt;</li>
      <li
        ng-repeat="p in [].constructor(pageCount) track by $index"
        ng-class="{'active': page == $index}"
        ng-click="setPage($index)"
        class="page-item">
          {{$index + 1}}
      </li>
      <li ng-class="{'disabled': page > pageCount -1}" ng-click="proximo()">&gt;&gt;</li>
    </ul>
    <label>Items per Page:</label>
    <select ng-model="itemsPerPage" ng-change="refresh()">
      <option ng-value="10" selected>10</option>
      <option ng-value="25">25</option>
      <option ng-value="50">50</option>
      <option ng-value="100">100</option>
    </select>
    <label>Results: <span ng-bind="itemCount"></span></label>
  </nav>
  