<div class="yaba-account-form yaba-form">
    <close (click)="closeForm()"></close>
    <h1>{{ account.name || "New" }} Account:</h1>
    <form (ngSubmit)="saveChanges()">
        <label>Name: <input type="text" maxlength="64" name="name" [(ngModel)]="account.name" tabindex="1" /></label>
        <label>Description: <input type="text" maxlength="255" name="description" [(ngModel)]="account.description" tabindex="2" /></label>
      <label>
        Institution:
        <ng-select
            [items]="institutions"
            name="institution"
            bindLabel="name"
            bindValue="id"
            placeholder="Select Institution: "
            [(ngModel)]="account.institutionId"
            tabindex="3"
        ></ng-select>
      </label>
      <label>
        Account Type:
        <ng-select
            [items]="accountTypes"
            bindLabel="label"
            bindValue="value"
            placeholder="Select Account Type: "
            name="accountType"
            [(ngModel)]="account.accountType"
            tabindex="4"
        ></ng-select>
      </label>
      <label>
        Account Number: <input type="text" name="account" [(ngModel)]="account.number"  tabindex="5" />
      </label>
      <label>Routing Number: <input type="text" name="routing" [(ngModel)]="account.routing" tabindex="6" /></label>
      <label>Interest Rate: <input type="number" name="interestRate" step="0.01" [(ngModel)]="account.interestRate" tabindex="7" /></label>
      <label>Interest Strategy: <ng-select
            [items]="interestStrategies"
            bindLabel="label"
            bindValue="value"
            placeholder="Select Interest Strategy: "
            [(ngModel)]="account.interestStrategy"
            name="interestStrategy"
            tabindex="8"
            ></ng-select>
      </label><br />
      <div class="errors">@for(error of errors; track error) {<p>{{ error }}</p>}</div>
      <input type="button" name="cancel" value="Cancel" (click)="cancel()"  tabindex="9" class="cancel" />
      <input type="button" name="save" value="Save Account" (click)="saveChanges()"  tabindex="10" class="save" />
  </form>
</div>
