/* Main container styling */
:host {
    position: fixed;
    top: 5vh;
    width: 75vw;
    background-color: var(--form);
    border: 0.2rem solid var(--border);
    border-radius: 0.5rem;
    box-shadow: 2rem 2rem 1rem var(--shadow);
}
