<div class="debug">
    Filters: {{ filtration(filters) }}<br />
    Txns: {{ txns.length }}<br />
</div>
@if ( showFilters ){ <yaba-transaction-filters [(filter)]="filters" (filterChange)="accountsChange()"></yaba-transaction-filters> }
@if ( selectedTxns.length > 0 ) {
<!-- @TODO: Convert this to a <bulk-action /> component -->
<yaba-bulk-action
  [(selectedTxns)]="selectedTxns"
  (tagTransactions)="tagTxns($event)"
  (deleteTxn)="deleteSelected()"
  (cancelSelection)="cancelSelected()"
  (untagTransactions)="untagTxns($event)"
></yaba-bulk-action>
}
<yaba-transaction-table
    class="editable"
    paginate
    [attr.truncate]="truncate"
    [(txns)]="txns"
    [(selectedTxns)]="selectedTxns"
    (budgetsChange)="budgetsChange.emit(txns.getBudgets())"
></yaba-transaction-table>
