<div class="transaction-list-wrapper">
    <!-- <div class="debug">
        Filters: {{ filtation(filters) }}<br />
        Transactions: {{ transactions.length }}<br />
        Txns: {{ txns.length }}<br />
    </div> -->
@if ( showFilters ){ <transaction-filters [transactions]="transactions" [(filter)]="filters" (filterChange)="filtersChange.emit($event)"></transaction-filters> }
@if ( txns.length > 0) {
    <table class="data item-list" [ngClass]="editable ? 'editable': ''">
        <thead>
            <tr>
        @if ( txShow.id )               {<th>Transaction ID</th>}
        @if ( txShow.datePending )      {<th (click)="sortBy('datePending');">Date Pending</th>}
       <!-- Always show post date -->    <th (click)="sortBy('datePosted');">Date Posted</th>
        @if ( txShow.account )          {<th (click)="sortBy('accountId');">Account</th>}
        <!-- Always show desc. -->       <th (click)="sortBy('description');">Description</th>
        <!-- Always show amount -->      <th (click)="sortBy('amount');">Amount</th>
        @if ( txShow.tax )              {<th>Tax</th>}
        @if ( txShow.merchant )         {<th (click)="sortBy('merchant');">Merchant</th>}
        @if ( txShow.transactionType )  {<th>Transaction Type</th>}
        @if ( txShow.tags )             {<th>Budgets</th>}
            </tr>
        </thead>
        <tbody>
    @for(txn of txns; let i = $index; track txn.id) {
        <tr class="yaba-txn-row" [(txn)]="txns[i]" [truncate]="truncate" [editable]="editable" ></tr>
    }
        </tbody>
    </table>
}
@if ( showPaginate && transactions.length > 10 ){
    <mat-paginator 
        (page)="turnPage($event)"
        [length]="length"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50, 100]"
    ></mat-paginator>
}
</div>
