<div class="new-item-wrapper" ng-show="true">
    <close ng-click="close()"></close>
    <h1>{{ account.name || "New" }} Account:</h1>
    <form>
      <label>Name: <input type="text" ng-model="account.name" tabindex="1" /></label>
      <label>Description: <input type="text" ng-model="account.description" tabindex="2" /></label>
      <label>
        Institution:
        <select
          ng-model="account.institutionId"
          ng-options="institution.name for institution in $parent.institutions track by institution.id"
          tabindex="3"
        ></select>
      </label>
      <label>
        Account Type:
        <select
          ng-model="account.accountType"
          ng-options="acctType for acctType in $parent.accountTypes"
          tabindex="4"
        ></select>
      </label>
      <label>
        Account Number: <input type="text" ng-model="account.number"  tabindex="5" />
      </label>
      <label>Routing Number: <input type="number" ng-model="account.routing" tabindex="6" /></label>
      <label>Interest Rate: <input type="number" ng-model="account.interestRate" tabindex="7" /></label>
      <label>Interest Strategy <select ng-model="account.interestStrategy" tabindex="8">
                <option default="true" value="simple">Simple</option>
                <option value="compound">Compound</option>
            </select>
      </label>
      <input type="submit" value="Save Account" ng-click="save()"  tabindex="9" />
  </form>
</div>
