<div class="new-item-wrapper" ng-show="true">
    <close ng-click="close()">X</close>
    <h1>{{ institution.name || 'New' }} Institution</h1>
    <form>
        <label>Name: <input type="text" ng-model="institution.name" /></label>
        <label>Description: <input type="text" ng-model="institution.description" /></label>
        <label>Mapping: <plus ng-click="addMapping()">+</plus></label>
        <ul>
            <li ng-repeat="mapping in institution.mappings">
                <label>
                    From {{ mapping.mapType == 'static'? 'Value': 'Field' }}:
                    <input type="text" ng-model="mapping.fromField" />
                </label>
                <label>
                    To Field: <select ng-model="mapping.toField" ng-options="txnField for txnField in transactionFields"></select>
                </label>
                <label>Mapping Type: <select ng-model="mapping.mapType">
                    <option value="static">Static</option>
                    <option value="dynamic">Dynamic</option>
                </select></label>
            </li>
        </ul>
        <input type="submit" Value="Save Institution" />
    </form>
</div>
