<div>
    <table class="data item-list">
        <thead>
            <th>Desired Purchase Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Actions</th>
        </thead>
        <tbody>
@for ( txn of wishlist; track txn.id; let index = $index ) {
            <tr class="slide-down">
                <td> {{ txn.datePosted | date:'yyyy-MM-dd' }}&nbsp;</td>
                <td> {{ txn.amount | currency }}&nbsp;</td>
                <td> {{ txn.description }}&nbsp;</td>
                <td>
                    <mat-icon (click)="edit(index)" class="small edit-icon">edit</mat-icon>&nbsp;
                    <mat-icon (click)="remove(txn.id)" class="small delete-icon">delete</mat-icon>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>
<div>
    <label for="description">I want to buy </label><input type="text" placeholder="(Product) e.g. PlayStation" [(ngModel)]="item.description" />
    <label for="amount">which costs $</label><input type="number" placeholder="0.00" [(ngModel)]="item.amount" />
    <label for="date"> &nbsp; by &nbsp;</label><input type="date" [(ngModel)]="item.datePosted" />
    <div>
@if (editing) {
    <mat-icon (click)="save();" class="check_circle-icon">yes</mat-icon>
    <mat-icon (click)="cancel();" class="cancel-icon">no</mat-icon>
} @else {
    <mat-icon (click)="add();" class="add-icon">add</mat-icon>
}
    </div>
</div>
