:host {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid var(--border);
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow);
    overflow-y: auto;
    margin-left: auto;
    min-width: 50rem;
}
