<div>
    <table class="data item-list">
        <thead>
            <th>Desired Purchase Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Actions</th>
        </thead>
        <tbody>
@for ( txn of wishlist; let index = $index; track txn ) {
            <tr class="slide-down">
                <td> {{ txn.datePosted | date:'yyyy-MM-dd' }}&nbsp;</td>
                <td> {{ txn.amount | currency }}&nbsp;</td>
                <td> {{ txn.description }}&nbsp;</td>
                <td>
                    <edit (click)="edit(index)" class="small-icon"></edit>&nbsp;
                    <trash (click)="remove(txn.id)" class="small-icon"></trash>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>
<div>
    <label for="description">I want to buy </label><input type="text" placeholder="(Product) e.g. PlayStation" [(ngModel)]="item.description" />
    <label for="amount">which costs $</label><input type="number" placeholder="0.00" [(ngModel)]="item.amount" />
    <label for="date"> &nbsp; by &nbsp;</label><input type="date" [(ngModel)]="item.datePosted" />
    <div>
        <add *ngIf="!editing" (click)="add();"></add>
        <save *ngIf="editing" (click)="save();"></save>
        <close *ngIf="editing" (click)="cancel();"></close>
    </div>
</div>
