<table class="data item-list">
    <thead>
        <tr>
            <th>Date</th>
            <th>Sum</th>
            <th>Average</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="txns in transactions">
            <td><span ng-bind="txns[0]"></span></td>
            <td><span ng-bind="txns[1].sum() | currency" ng-class="{'negative': txns[1].sum() < 0}"></span></td>
            <td><span ng-bind="txns[1].avg() | currency" ng-class="{'negative': txns[1].avg() < 0}"></span></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td><b>Totals</b></td>
            <td><span ng-bind="transactions.sum()|currency" ng-class="{'negative': transactions.sum() < 0}"></span></td>
            <td><span ng-bind="transactions.average()|currency" ng-class="{'negative': transactions.average() < 0}"></span></td>
        </tr>
    </tfoot>
</table>
