<div id="accounts" ng-controller="accounts" class="controller">
    <h1>Accounts</h1>
    <p>This is where you view and manage accounts associated with each institution.</p>
    <button ng-click="seeForm=true"><plus>+</plus>Add Account</button><br clear="all" />
    <div class="item-list-wrapper" ng-repeat="account in accounts">
        <h2 class="title">{{ account.name }}&nbsp;<span class="accountBalance">${{ account.balance }}</span></h2>
        <p>{{ account.description }}</p><br />
        <yaba-transaction-list transactions="account.transactions" limit="10"></yaba-transaction-list>
    </div>
    <div class="errors">{{ error }}</div>
    <yaba-account-form
      account="account"
      ng-show="seeForm"
      class="ng-fade ng-hide" />
</div>
