<div id="accounts" ng-controller="accounts" class="controller">
    <h1>Accounts</h1>
    <p>This is where you view and manage accounts associated with each institution.</p>
    <add ng-click="add()" class="right"></add>
    <account-list class="item-list-wrapper" ng-repeat="account in accounts">
        <h2 class="title">
            <a href="/account/{{ account.id }}">{{ account.name }}</a>
        </h2>
        <div class="account-balance">{{ account.balance() | currency }}</div>
        <p>{{ account.description }}</p><br />
        <edit ng-click="edit(account)" class="right"></edit>
        <trash ng-click="remove(account)" class="right"></trash>
        <yaba-transaction-list
          transactions="account.transactions"
          limit="5"
          class="csvdrop"
        ></yaba-transaction-list>
    </account-list>
    <div class="errors">{{ error }}</div>
    <yaba-account-form
      account="account"
      ng-show="seeForm"
      mode="mode"
      see-form="seeForm"
      class="ng-fade ng-hide" />
</div>
