<div id="budget" ng-controller="budget" class="controller">
    <h1>Budgeting</h1>
    <p>Budgeting helps ensure we stay on track for spending.</p>
    <div class="item-list-wrapper">
        <!-- ng-control: DatePicker -->
        <!--md-content layout="column" layout-gt-sm="row" layout-padding="" ng-cloak="">
            <div layout="column" flex-order="1" flex-order-gt-sm="0">
                <md-subheader>Start Date</md-subheader>
                <md-calendar ng-model="startDate"></md-calendar>
            </div>
            <div layout="column" flex-order="1" flex-order-gt-sm="1">
                <md-subheader>End Date</md-subheader>
                <md-calendar ng-model="endDate"></md-calendar>
            </div>
            <div layout="column" flex-order="0" flex-order-gt-sm="2">
                <md-subheader>Dates</md-subheader>
                <div>
                    <label>Start</label>
                    <div>{{ startDate | date:shortDate}}</div>
                </div>
                <div>
                    <label>End</label>
                    <div>{{ endDate | date:shortDate}}</div>
                </div>
            </div>
        </md-content-->
        <!-- end: ng-control-->
        
        <!-- ng-control: AccountPicker -->
        <table id="transactions" class="data item-list" ng-init="transaction.sort= 'datePosted';">
            <thead>
                <th ng-click="account.txnSort = 'datePending';">Date Pending</th>
                <th ng-click="account.txnSort = 'datePosted';">Date Posted</th>
                <th ng-click="account.txnSort = 'amount';">Amount</th>
                <th ng-click="account.txnSort = 'account';">Account</th>
                <th ng-click="account.txnSort = 'description';">Description</th>
                <th>Tags</th>
            </thead>
            <tbody>
                <tr ng-repeat="txn in account.transactions | orderBy:account.txnSort">
                    <td>{{ txn.datePending }}</td>
                    <td>{{ txn.datePosted }}</td>
                    <td>{{ txn.amount }}</td>
                    <td>{{ txn.accountId }}</td>
                    <td>{{ txn.description }}</td>
                    <!-- @TODO: Turn this into a fuzzy edit label maker control/input -->
                    <td>{{ txn.tags.join(", ") }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Budgets</h2>
        <ul>
            <li ng-repeat="xaction in transactions">{{ xaction.name }}: ${{ xaction.amount }}</li>
        </ul>
    </div>
    <div class="errors">{{ error }}</div>
</div>
