<div id="budget" ng-controller="budget" class="controller">
    <h1>Budgeting</h1>
    <p>Budgeting helps ensure we stay on track for spending.</p>
    <div class="item-list-wrapper">
        <yaba-daterange ng-model="dateRange"></yaba-daterange>

        <!-- ng-control: AccountPicker -->
        <yaba-transaction-list transactions="transactions" include-tags="true"></yaba-transaction-list>
    </div>
    <div>
        <h2>Budgets</h2>
        <yaba-budget ng-model="budgets"></yaba-budget>
    </div>
    <div class="errors">{{ error }}</div>
</div>
