<div id="budget" ng-controller="budget" class="controller">
    <h1>Budgeting</h1>
    <p>Budgeting helps ensure we stay on track for spending.</p>
    <div class="item-list-wrapper">
        <yaba-transaction-list
          transactions="transactions"
          from-date="fromDate"
          to-date="toDate"
          selected-accounts="selectedAccounts"
          include-tags
          show-daterange
          show-accounts
          show-pagination
          editable />
    </div>
    <div>
        <yaba-budget
          budgets="budgets"
          transactions="transactions"
          from-date="fromDate"
          to-date="toDate"
          selected-accounts="selectedAccounts"
        ></yaba-budget>
    </div>
    <div class="errors">{{ error }}</div>
</div>
