<div id="charts" ng-controller="charts" class="controller">
    <h1>Charts</h1>
    <p>Charts help us visualize our data to observe trends over time.</p>
    <controls>
        <yaba-daterange from-date="fromDate" to-date="toDate"></yaba-daterange>
        Account: <select multiple ng-model="selectedAccounts" ng-options="account.name for account in accounts"></select>
        Budgets: <select multiple ng-model="txnTags" ng-options="budget for budget in transactionBudgets"></select>
    </controls><br clear="all" />
    Transactions: <p>{{ transactions.length }}</p><br />
    Selected Budgets: <p ng-bind="txnTags"></p><br />
    Calculated budgets: <data-table ng-repeat="budget in myBudgets"><p>"{{ budget.join('", "') }}"</p><br /></data-table>
    <google-chart id="budgets" style="width: 80%; height: 800px"></google-chart>
    <google-chart id="example"></google-chart>
</div>
