<div id="institutions" ng-controller="institutions">
    <h1>Institutions</h1>
    <p>
        This is where you configure your Banks and other places where money is held and you want to track here.
    </p>
    <input type="button" ng-click="showNew()" value="Add Institution" />
    <div class="institutionList" ng-repeat="institution in institutions">
        <h4>{{ institution.name }}</h4>
        <p>{{ institution.description }}</p><br />
        <table id="{{ institution.id }}" class="institution-mappings">
            <thead>
                <th>From Field</th>
                <th>To Field</th>
                <th>Map Type</th>
            </thead>
            <tbody>
                <tr ng-repeat="mapping in institution.mappings">
                    <td>{{ mapping.fromField }}</td>
                    <td>{{ mapping.toField }}</td>
                    <td>{{ mapping.mapType }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="errors">{{ error }}</div>

    <div id="newInstitution" class="formController" ng-init="newOrEdit = 'New';">
        <close class="ng-close" ng-click="hideNew()">X</close>
        <h3>{{ newOrEdit }} Institution</h3>
        <form>
            <span class="label">Name: <input type="text" ng-model="institution.name" id="name" /></span>
            <span class="label">Description: <input type="text" ng-model="institution.description" id="name" /></span>
            <span class="label">Mapping: <plus class="ng-add" ng-click="addMapping()">+</plus></span>
            <ul>
                <li ng-repeat="mapping in institution.mappings">
                    <span class="label" ng-if="mapping.mapType == 'static'">
                        From Value: <input type="text" ng-model="mapping.fromField" id="fromField" />
                    </span>
                    <span class="label" ng-if="mapping.mapType == 'dynamic'">
                        From Field: <input type="text" ng-model="mapping.fromField" id="fromField" />
                    </span>
                    <!-- @TODO: Use an API call to derive the fields/keys of the cannoncial model.  -->
                    <span class="label">To Field: <input type="text" ng-model="mapping.toField" id="toField" /></span>
                    <span class="label">Mapping Type: <select ng-model="mapping.mapType" id="mapType">
                        <option value="static">Static</option>
                        <option value="dynamic">Dynamic</option>
                    </select></span>
                </li>
            </ul>
            <input type="submit" Value="Create New Institution" />
        </form>
    </div>
</div>
