<md-content ng-controller="settings" class="controller">
    <h1>Settings</h1>
    <p>Where you control the app behaviours.</p>
    <md-list flex>
        <md-list-item>
            What is your pay cycle?
            <select ng-model="settings.payCycle" ng-change="settings.save()">
                <option value="weekly">Weekly</option>
                <option value="bi-weekly">Bi-Weekly</option>
                <option value="bi-monthly">Bi-Monthly</option>
                <option value="monthly">Monthly</option>
                <option value="quarterly">Quarterly</option>
                <option value="annually">Annually</option>
            </select>
        </md-list-item>
        <md-list-item>
            Tell me your income tags: <md-chips ng-model="settings.incomeTags" ng-change="settings.save()"></md-chips>
            <span class="helper">Income tags will tell this app how to treat things you deem as income per defined pay period as defined above.</span>
        </md-list-item>
        <md-list-item>
            Tell me your expense tags: <md-chips ng-model="settings.expenseTags" ng-change="settings.save()"></md-chips>
            <span class="helper">Expense tags will tell me how to handle things that are bills. This is best suited for recurring expenses rather than 1-time expenses.</span>
        </md-list-item>
        <md-list-item>
            What is your transfer tag?: <md-chips ng-model="settings.transferTags" ng-change="settings.save()"></md-chips>
            <span class="helper">Tags with this transfer will be marked as such and I will attempt to marry them to matching transactions.</span>
        </md-list-item>
        <md-list-item>
            What is your hide tag?: <md-chips ng-model="settings.hideTags" ng-change="settings.save()"></md-chips>
            <span class="helper">These transactions will be hidden from view and removed from calculations.</span>
        </md-list-item>
        <md-list-item>
            Delete all data: <button ng-click="deleteAll()">DELETE</button><br />
            <p class="warning">NOTE: This will delete ALL the data!!!</p>
        </md-list-item>
    </md-list>
</md-content>
<br clear="all" />
