/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material'; */
@import "~@ng-select/ng-select/themes/default.theme.css";

/*
Source: https://material.angular.io/guide/theming

@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

*/

/**
 * Global content styling.
 * https://paletton.com/#uid=4401m0krkuw7cUoj4ACuNkTNu6r
 */

:root {
  /* Controls Colors */
  --text: #000000;
  --border: #000000;
  --background: #EEEEF0;
  --txn-list-header: #FFDA67;
  --menu: #17157490;
  --titlebar: #C2C1EF;
  --active-border: #9A0626;
  --links: #332700;
  --link-hilite: #A67F06;
  --shadow: #0302242F;
  --light-shadow: #03022459;
  --txn-odd: #FBC3CE50;
  --txn-even: #DEFAC250;
  --dropfile: #0583FA;
  --helper: #FFEC77;
  --form: #EEE;
  --checked: #4F9606;
  --save: #55D25D;
  --cancel: #FF7A77;
  --negative-digit: #b21717;

  /* General color pallete */
  --primary-lightest-trans: #C2C1EF11;
  --primary-lightest: #C2C1EF;
  --primary-light-trans: #605EC011;
  --primary-light: #605EC0;
  --primary-normal-trans: #312EAA11;
  --primary-normal: #312EAA;
  --primary-dark-trans: #17157411;
  --primary-dark: #171574;
  --primary-darkest-trans: #03022411;
  --primary-darkest: #030224;
  --secondary-lightest-trans: #DEFAC211;
  --secondary-lightest: #DEFAC2;
  --secondary-light-trans: #A5EA5F11;
  --secondary-light: #A5EA5F;
  --secondary-normal-trans: #7EDB2011;
  --secondary-normal: #7EDB20;
  --secondary-dark-trans: #4E960611;
  --secondary-dark: #4E9606;
  --secondary-darkest-trans: #172E0011;
  --secondary-darkest: #172E00;
  --tertiary-lightest-trans: #FBC3CF11;
  --tertiary-lightest: #FBC3CF;
  --tertiary-light-trans: #EF617F11;
  --tertiary-light: #EF617F;
  --tertiary-normal-trans: #E1214A11;
  --tertiary-normal: #E1214A;
  --tertiary-dark-trans: #9A062611;
  --tertiary-dark: #9A0626;
  --tertiary-darkest-trans: #2F000A11;
  --tertiary-darkest: #2F000A;
  --complimentary-lightest-trans: #FFF1C611;
  --complimentary-lightest: #FFF1C6;
  --complimentary-light-trans: #FFDA6711;
  --complimentary-light: #FFDA67;
  --complimentary-normal-trans: #F3C02411;
  --complimentary-normal: #F3C024;
  --complimentary-dark-trans: #A67F0611;
  --complimentary-dark: #A67F06;
  --complimentary-darkest-trans: #33270011;
  --complimentary-darkest: #332700;
}

/* BEGIN: Google Angular Material Fonts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /* As of this commit, these are v143 */
  src: url(/assets/material-icons.woff2) format('woff2');
  src: url(/assets/material-icons.ttf) format('ttf');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  cursor: pointer;
  align-items: center;
  padding: 0.5rem;
}
/* END: Google Angular Material Fonts */

/* BEGIN: Angular Material Icon Overrides */

.mat-icon {
  font-size: 2rem;
}

.close-icon, .cancel-icon, .delete-icon, .untag-icon {
  color: var(--tertiary-dark);
}

.close-icon:hover, .cancel-icon:hover, .delete-icon:hover, .untag-icon:hover {
  color: var(--tertiary-normal);
}

.add-icon, .tag-icon {
  color: var(--secondary-dark);
}

.add-icon:hover, .tag-icon:hover {
  color: var(--secondary-normal);
}

.edit-icon {
  color: var(--primary-normal);
}

.edit-icon:hover {
  color: var(--primary-dark);
}

/* END: Angular Material Icon Overrides */

/** BEGIN: Debugging **/
/*
@DEBUG: To enable debugging, set display=block; to disable debugging, set display=none.
*/
debug, .debug {
  display: block;
  max-width: 800px;
  max-height: 300px;
  overflow: auto;
  border: 2px solid blue;
  span {
      display: inline-block;
      font-family: "Liberation Mono", "DejaVu Sans Mono", monospace;
      font-size: 16px;
      word-wrap: break-word;
  }
}
/** END: Debugging **/

/*** Default HTML Elements that need styles set. ***/

b, .bold { font-weight: bold; }
i, .italic { font-style: italic; }
u, .underline { text-decoration: underline; }

a {
  color: var(--links);
  text-decoration: none;
}
a:visited {
  color: var(--links);
}
a:hover {
  color: var(--link-hilite);
  text-decoration: underline;
}

body {
  font-family: "Sans", "Arial", "Calibri";
  font-size: 14px;
}

h1 {
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
  width: fit-content;
  display: inline-block;
  margin: 10px auto 10px 5px;
  color: var(--text);
}

h2 {
  font-size: 150%;
  font-weight: bold;
  width: fit-content;
  display: inline-block;
  margin: 8px auto 6px 5px;
  color: var(--text);
}

p {
  color: var(--text);
  line-height: 1.4;
  margin: 0.8rem 0.5rem;
  font-size: 1rem;
}

table.data {
  border: 1px solid var(--border);
  max-height: 35rem;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow-y: auto;
}

table.data th:first {
  border-radius: 0.5rem 0 0 0;
}

table.data th:last-of-type {
  border-radius: 0 0.5rem 0 0;
}

table.data th {
  font-weight: bold;
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid black;
  cursor: pointer;
  margin: 5px auto;
  background-color: var(--txn-list-header);
  color: var(--text);
}

table.data thead {
  position: sticky;
  top: 0px;
}

table.data td {
  padding: 2px 5px 2px 5px;
  vertical-align: middle;
  transition: all 400ms ease-in-out;
}

table.data tr:nth-child(odd) {
  background-color: var(--txn-odd);
}

table.data tr:nth-child(even) {
  background-color: var(--txn-even);
}

form {
  text-align: left;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 2rem;
  box-sizing: border-box;
}

form .submission {
  display: flex;
  flex-direction: row;
  margin: 1rem 0.5rem 1rem auto;
}

form label {
  text-align: left;
  font-weight: bold;
  width: 99%;
  display: block;
  box-sizing: border-box;
  margin: 0.8rem auto;
}

form input[type="text"], from ng-select {
  width: 100%;
  box-sizing: border-box;
}

form input[type="button"] {
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;
}

.right {
  float: right;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.negative {
  color: var(--negative-digit);
}

.ng-fade, .fade { transition: all 400ms ease-in-out; transition-behavior: allow-discrete; }

.suave { transition: all 400ms ease-in-out; transition-behavior: allow-discrete; }

.ng-hide { opacity: 0; height: 0; visibility: hidden; }

.wide {
    width: 100%;
    box-sizing: border-box;
}

.small {
  transform: scale(0.8);
}

.big {
  transform: scale(2);
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 10rem;
}

.helper:hover:after {
  opacity: 1;
  transition: all 300ms ease-in-out 500ms;
  visibility: visible;
}

.helper:after {
  content: attr(helper);
  display: block;
  min-width: 200px;
  max-width: 450px;
  background-color: var(--helper);
  color: var(--text);
  font-size: 120%;
  padding: 1px 5px 2px 10px;
  margin: 1px 1px 1px 5px;
  box-shadow: 1px 1px 3px var(--shadow);
  opacity: 0;
  border: 1px solid var(--border);
  z-index: 9999999;
  transition: all 500ms ease-in-out 500ms;
  visibility: hidden;
  position: fixed;
  top: 5px;
  right: 30px;
}

.cancel {
  background-color: var(--cancel);
  color: var(--text);
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem;
  box-shadow: var(--light-shadow) 5px 5px;
  display: inline-flex;
  line-height: 1.2rem;
  margin: 5px;
}

.save {
  background-color: var(--save);
  color: var(--text);
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: var(--light-shadow) 5px 5px;
  display: inline-flex;
  line-height: 1.2rem;
  margin: 5px;
}

/* Common styles for all pages */
errors {
  margin: 10px 0;
  border-radius: 0.3rem;
  color: var(--tertiary-dark);
}

errors p {
  font-weight: bold;
}

.titlebar {
  display: flex;
  flex-flow: row;
  background-color: var(--titlebar);
  border-radius: 0.5rem 0.5rem 0 0;
  color: var(--text);
  padding: 10px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.box-content {
  padding: 1rem;
  width: 100%;
  max-height: 81vh;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: thin;
}

.titlebar h2 {
  font-size: 150%;
  font-weight: bold;
  width: fit-content;
  display: inline-block;
  margin: 8px auto 6px 5px;
  color: var(--text);
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.data-card-container {
  border: 0.2rem solid var(--border);
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.3rem var(--shadow);
  background-color: var(--background);
  box-sizing: border-box;
  margin: 0.5rem;
  max-width: 50rem;;
}

.editing {
  background-color: var(--txn-edit) !important;
  border: 1px solid var(--active-border);
  border-radius: 0.3rem;
  height: 50px;
  transition: all 400ms ease-in-out;

  input, .ng-select-container {
      height: 20px !important;
      box-shadow: none;
      font-size: 16px;
      margin: auto;
      vertical-align: middle;
  }
}

.drop-zone-active {
  border: 5px #11F dotted !important;
}
